<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1="문자 숫자 리스트 문자열 텍스트 정수형"
# count('단어'): 문자열에서 단가가 몇개 있는지 확인
print(str1.count("문자"))

# find("문자"): 문자열에서 찾는 문자의 위치 출력
print(str1.find("문자"))

print(str1.find("문자", 3))

2
0
10

In [ ]:
# split(): 문자열 나누기
spstr1=str1.split(" ")
print(spstr1)

# join(): 문자열 삽입, 문자사이에 특정 기호등을 삽입할때 사용
str2="12345"

print("-".join(spstr1))
print("-".join(str2))

# len(): 데이터 길이
print(len(str1))

# replace("대상문자","변경문자" ):문자열 바꾸기
print(str1.replace("문자", "숫자"))
print(str1)

['문자', '숫자', '리스트', '문자열', '텍스트', '정수형']
문자-숫자-리스트-문자열-텍스트-정수형
1-2-3-4-5
21
숫자 숫자 리스트 숫자열 텍스트 정수형
문자 숫자 리스트 문자열 텍스트 정수형

In [ ]:
lst1=[1,4,3,2,5]
lst2=[10, 20, "멀티캠퍼스", "파이썬", [100, 200, 300]]
lst3=["이순신", "홍길동", "서정동", "김보연", "민창기"]

print(type(lst1))
print(type(lst2))

# 인덱싱/슬라이싱
print(lst2[2])
print(lst2[0:2])  #print(lst2[:2])
print(lst2[-1])
print(lst2[-1][1])  # 2차원 구조의 데이터 출력

# 리스트형 데이터 수정
lst2[3]="python"
print(lst2)

# append(): 리스트의 끝에 값 추가
lst2.append("서정동")
print(lst2)

lst1.sort()  # 오름차순 정렬
print(lst1)

lst3.sort()  # 오름차순 정렬
print(lst3)

print("------------")

# 객체.insert(위치, 값): 중간 삽입
lst1.insert(0, 6)
lst1

# 개체 삭제
del lst2
del lst3[2]  # lst3 변수의 3번째[2] 인수 삭제

lst3

<class 'list'>
<class 'list'>
멀티캠퍼스
[10, 20]
[100, 200, 300]
200
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300]]
[10, 20, '멀티캠퍼스', 'python', [100, 200, 300], '서정동']
[1, 2, 3, 4, 5]
['김보연', '민창기', '서정동', '이순신', '홍길동']
------------

['김보연', '민창기', '이순신', '홍길동']

In [ ]:
lst1

[6, 6, 1, 2, 3, 4, 5]

In [ ]:
# 객체.insert(위치, 값): 중간 삽입
lst1.insert(0, 6)
lst1

[6, 6, 1, 2, 3, 4, 5]

In [ ]:
# 2차원 구조 리스트
lst=[[1, "홍길동", "남"], [2, "이순신", "남"], [3, "심순이", "여"]]

print(lst)
print(lst[0][1])

[[1, '홍길동', '남'], [2, '이순신', '남'], [3, '심순이', '여']]
홍길동

In [ ]:
import pandas as pd

df1=pd.DataFrame(lst, columns=["번호", "이름", "성별"])
df1

   번호   이름 성별
0   1  홍길동  남
1   2  이순신  남
2   3  심순이  여

In [ ]:
aa=(10, 20, 30)
print(aa[0])
# aa[1]=25  # 에러/수정 불가능-> Tuple

10

In [ ]:
dict1={"번호":1, "이름":"홍길동", "성별":"남", "국어":100}
dict2={"번호":[1,2,3,4,5], 
       "이름":["AAA", "BBB", "CCC", "DDD", "EEE"], 
       "성별":["남","여","남","여","남"], 
       "국어":[100, 95, 85, 75, 80]}

print(dict1.keys())     # key 이름 출력
print(dict1.values())   # 값 전체 출력
print()
print(dict2.keys())    
print(dict2.values())

print(dict2["이름"])   # 특정 키에 해당하는 값만 출력

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([1, '홍길동', '남', 100])

dict_keys(['번호', '이름', '성별', '국어'])
dict_values([[1, 2, 3, 4, 5], ['AAA', 'BBB', 'CCC', 'DDD', 'EEE'], ['남', '여', '남', '여', '남'], [100, 95, 85, 75, 80]])
['AAA', 'BBB', 'CCC', 'DDD', 'EEE']

In [ ]:
# pandas를 이용한 데이터프레임 구조 변경

df1=pd.DataFrame(dict2)
df1

   번호   이름 성별   국어
0   1  AAA  남  100
1   2  BBB  여   95
2   3  CCC  남   85
3   4  DDD  여   75
4   5  EEE  남   80

In [ ]:
name=["서정동", "김이프", "심순이", "박찬식", "홍순준"]
Age=[50,40,30,20,10]

In [ ]:
# name 객체를 이용한 출력
# format()를 이용한 출력
print(name[0],"님! 안녕하세요.")
print(name[1],"님! 안녕하세요.")
print(name[2],"님! 안녕하세요.")
print(name[3],"님! 안녕하세요.")
print(name[4],"님! 안녕하세요.")

서정동 님! 안녕하세요.
김이프 님! 안녕하세요.
심순이 님! 안녕하세요.
박찬식 님! 안녕하세요.
홍순준 님! 안녕하세요.

In [ ]:
for nm in name:
  print(f"{nm}님! 안녕하세요.")

서정동님! 안녕하세요.
김이프님! 안녕하세요.
심순이님! 안녕하세요.
박찬식님! 안녕하세요.
홍순준님! 안녕하세요.

In [ ]:
print(name[0],"님의 나이는 ", Age[0], "입니다.")
print("{1}님의 나이는 {0}세입니다.".format(Age[0], name[0]))
print(f"{name[0]}님의 나이는 {Age[0]}세입니다.")
print(f"{name[1]}님의 나이는 {Age[1]}세입니다.")
print(f"{name[2]}님의 나이는 {Age[2]}세입니다.")
print(f"{name[3]}님의 나이는 {Age[3]}세입니다.")
print(f"{name[4]}님의 나이는 {Age[4]}세입니다.")

서정동 님의 나이는  50 입니다.
서정동님의 나이는 50세입니다.
서정동님의 나이는 50세입니다.
김이프님의 나이는 40세입니다.
심순이님의 나이는 30세입니다.
박찬식님의 나이는 20세입니다.
홍순준님의 나이는 10세입니다.

In [ ]:
# range() 함수 활용
# list() : 입력된 데이터를 리스트 구조로 변경

print(list(range(10)))    # 0부터 10개의 정수 생성/숫자-1 한 값에서 종료
print(list(range(5, 10))) # 0부터 10개의 정수를 생성하고 5부터 출력
print(list(range(1, 10, 2)))  # 0부터 10개의 정수를 생성하고 1부터 2씩 증가하면서 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [ ]:
for i in range(5):
    print(f"{name[i]}님의 나이는 {Age[i]}세입니다.")

print("=== END ===")

서정동님의 나이는 50세입니다.
김이프님의 나이는 40세입니다.
심순이님의 나이는 30세입니다.
박찬식님의 나이는 20세입니다.
홍순준님의 나이는 10세입니다.
=== END ===

In [ ]:
print(len(name))   # name 변수에 입력된 데이터 개수 출력
for i in range(len(name)):
    print(f"{name[i]}님의 나이는 {Age[i]}세입니다.")

print("=== END ===")

5
서정동님의 나이는 50세입니다.
김이프님의 나이는 40세입니다.
심순이님의 나이는 30세입니다.
박찬식님의 나이는 20세입니다.
홍순준님의 나이는 10세입니다.
=== END ===

In [ ]:
# 구글 드라이브 마운트(드라이브 연결)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/review

/content/drive/MyDrive/review

In [ ]:
#!pip install Pillow   # Pillow 모듈 설치

from PIL import Image   # 모듈 연결

# 이미지 열기
#tmp=Image.open('/content/drive/MyDrive/multi/0307/data/pic1.jpg')  # 절대경로
tmp=Image.open('./dog.jpg')   # 상대경로, cd로 이동한 디렉토리 하위 경로

# 이미지를 잘 열었는지 이미지 크기(속성) 출력
print(tmp.size)

(3072, 1728)

In [ ]:
tmp1=Image.open('./dog.jpg')
print(tmp1.size)
tmp2=Image.open('./01027643527.jpeg')
print(tmp2.size)
tmp3=Image.open('./weiss.jpeg')
print(tmp3.size)

(3072, 1728)
(1440, 1080)
(512, 512)

In [ ]:
fnames=["pic1", "pic2", "pic3"]
print("./0307/data/"+ fnames[0]+".jpg")

for fname in fnames:
    print("./0307/data/"+ fname+".jpg")

print("=== END ===")

./0307/data/pic1.jpg
./0307/data/pic1.jpg
./0307/data/pic2.jpg
./0307/data/pic3.jpg
=== END ===

In [ ]:
# for문을 이용한 이미지 출력
from PIL import Image

fnames=["jpg1", "jpg2", "jpg3"]

for fname in fnames:
    tmp=Image.open("./"+ fname+".jpg")
    print(tmp.size)

print("=== END ===")

(1440, 1080)
(3072, 1728)
(512, 512)
=== END ===

In [ ]:
# 기존 이미지 사이즈를 200*200 으로 수정후 저장(pic1_200.jpg)
fnames=["jpg1", "jpg2", "jpg3"]

tmp=Image.open("./"+ fnames[0]+".jpg")  # 첫번째 파일 읽어오기
print(tmp.size)

tmpResize=tmp.resize((200, 200))   # 이미지 사이즈 변경
tmpResize.save("./"+fnames[0]+"_200.jpg")
print(tmpResize.size)

print("=== END ===")

(1440, 1080)
(200, 200)
=== END ===

In [ ]:
# 원본 이미지 사이즈 리스트 변수에 저장
# 전체 이미지 사이즈를 200*200 으로 수정후 저장

fnames=["jpg1", "jpg2", "jpg3"]  # 데이터가 있는 리스트 변수
imgsize=[]   # 리스트 형식의 변수 생성

for fname in fnames:
    tmp=Image.open("./"+ fname+".jpg")
    imgsize.append(tmp.size) # imgsize 변수 끝에 데이터 추가

    tmpResize=tmp.resize((200, 200))   # 이미지 사이즈 변경
    tmpResize.save("./"+fname+"_200.jpg") # 변경된 이미지 저장

print("=== END ===")

print(imgsize)

=== END ===
[(1440, 1080), (3072, 1728), (512, 512)]

In [ ]:
import pandas as pd

df1=pd.DataFrame(imgsize, columns=["가로", "세로"])
df1

     가로    세로
0  1440  1080
1  3072  1728
2   512   512

In [ ]:
!ls

'(1).ipynb'   jpg1_200.jpg   jpg2_200.jpg   jpg3_200.jpg
 images       jpg1.jpg	     jpg2.jpg	    jpg3.jpg

###[미션]
1. "/data/image/" 폴더의 강아지 데이터만 읽어오기(range() 이용)
2. 가져온 이미지의 size정보 리스트 변수에 저장하기
3. 해당 이미지를 300*300으로 변경후 "/data/" 폴더에 저장하기
4. 이미지 정보 변수와 pandas 모듈의 DataFrame()을 이용해 DataFrame 구조로 저장 후 출력하기

In [13]:
cd /content/drive/MyDrive/review

/content/drive/MyDrive/review

In [14]:
!ls

'(1).ipynb'   jpg1_200.jpg   jpg2_200.jpg   jpg3_200.jpg
 images       jpg1.jpg	     jpg2.jpg	    jpg3.jpg

In [18]:
cd images

/content/drive/MyDrive/review/images

In [19]:
from PIL import Image
import pandas as pd

fname="강아지"
imgsize=[]

for fn in range(1,11):
  tmp=Image.open("./"+fname+str(fn)+".jpg")
  imgsize.append(tmp.size)

  tmpResize=tmp.resize((300,300))
  tmpResize.save("./"+fname+str(fn)+".jpg")


print("======")

print(imgsize)
df1=pd.DataFrame(imgsize,columns=["가로","세로"])
df1

======
[(377, 400), (584, 400), (433, 400), (356, 400), (564, 400), (533, 400), (537, 400), (533, 400), (510, 400), (599, 400)]

    가로   세로
0  377  400
1  584  400
2  433  400
3  356  400
4  564  400
5  533  400
6  537  400
7  533  400
8  510  400
9  599  400