<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/1_2022%EB%85%8402%EC%9B%94_%EC%9D%B8%EA%B5%AC%ED%98%84%ED%99%A9_pandas_%EC%8B%9C%EA%B0%81%ED%99%94_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2022년 02월 기준 서울시 인구현환 분석
 - 모두의 데이터 분석(교재) 96page ~ 156page 참조 
### 1. pandas 모듈을 이용한 데이터 처리
### 2. matplotlib 모듈을 이용한 시각화

#### 1. 코랩 한글 지원을 위한 글꼴 설치
- 글꼴 설치후 [런타임]-[런타입 다시 시작] 클릭

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

#### 2. 데이터 읽어오기 및 확인
- 파일 업로드

In [ ]:
from google.colab import files

files.upload()

- 파일 읽어와 내용 확인하기
 * 1000단위 콤마를 제거하기 위해 thousands="," 옵션 추가

In [ ]:
import pandas as pd

# 나이별 데이터
age_df = pd.read_csv("202202_age.csv", encoding="cp949", header=3, thousands=",")
display(age_df.head(2))    # 데이터 확인

불러온 데이터의 전체 정보 확인합니다.   
thousands="," 적용했을때와 적용하지 않았을때 
 * 적용시: 오브젝트 1, int 310
 * 미적용: 오브젝트 303, int 8     

오브젝트(적용)는 "행정기관"을 의미

In [ ]:
print(age_df.info())      # 전체 정보확인

- 행정기관의 데이터 타입, 내용을 출력

In [ ]:
print(type(age_df["행정기관"]))
print()
print(age_df.행정기관)

In [ ]:
print(type(age_df[["행정기관"]]))
print()
age_df[["행정기관"]]

#### 데이터 검색
- 행정기관을 기준으로 검색
- 정확한 데이터 검색: "서울특별시"
- 글자에 포함된 데이터 검색: df['텍스트필드'].str.contains("포함문자")

In [ ]:
# 서울특별시와 일치하는 데이터 검색
age_df[age_df["행정기관"] == "서울특별시  "]

In [ ]:
# 행정기관에서 "공릉2동"이 포함되어 있는 데이터 전체
age_df[age_df['행정기관'].str.contains("공릉2동")]

In [ ]:
# 행정기관에서 "공릉2동"이 포함되어 있는 데이터 전체를 조회후 df1에 저장
df1=age_df[age_df['행정기관'].str.contains("계룡시")]  # if "공릉2동" in row[1]: 
df1

##### df1에 데이터에서 행정기관을 index 값으로 지정

In [ ]:
# df1.set_index(지정필드, drop=True, inplace=False)
df1=df1.set_index("행정기관")
df1

##### 원하는 필드만 출력하기
- 선택하는 방법: 데이터를 출력하는 방법과 동일, 필요한 필드를 나열한다.
- 제외하는 방법: columns.difference([제외시킬 필드명])

In [ ]:
# 원하는 데이터 추출
# df1[[필드명, 필드명, .. ]]
df1.iloc[:, [1, 3, 5, 6,7,8]]

In [ ]:
# 불필요한 데이터 제거
df1[df1.columns.difference(["행정기관코드", '총 거주자수', '연령구간인구수'])]

In [ ]:
df1.columns

In [ ]:
# 0세부터 100세이상 데이터만 출력(남여 공통)
df1_mf = df1.iloc[:, 3:104]
df1_mf

##### df1_mf 데이터를 이용해 차트 작성

In [ ]:
import matplotlib.pyplot as plt
plt.rc('font', family="NanumBarunGothic") # 차트에 한글 글꼴 지정

plt.style.use("ggplot")
plt.figure(figsize=(10, 5))
plt.plot(df1_mf)

plt.show()

기본출력: 행정기관 => x 축, 0세 ~ 100이상 필드 1개가 데이터 1개   
x축에 열이름, 출력값에 행정기관 1개의 데이터   
모두의 데이터 분석 교재(109 ~ 114 page) 참조

In [ ]:
# x축
df1_mf.columns

In [ ]:
# 값축
df1_mf.iloc[0]

In [ ]:
# index 값
df1_mf.index

In [ ]:
# 차트 작성

plt.figure(figsize=(10, 5))

plt.plot(df1_mf.columns, df1_mf.iloc[0], label="계룡시")
plt.plot(df1_mf.columns, df1_mf.iloc[1], label="두마면")
plt.plot(df1_mf.columns, df1_mf.iloc[2], label="엄사면")
plt.plot(df1_mf.columns, df1_mf.iloc[3], label="신도안면")
plt.plot(df1_mf.columns, df1_mf.iloc[4], label="금암동")

plt.legend()   # 범례표시

plt.show()

In [ ]:
# 차트 작성

plt.figure(figsize=(10, 5))

for i in range(len(df1_mf)):
    
    plt.plot(df1_mf.columns, df1_mf.iloc[i], label=df1_mf.index[i].split(" ")[-1] )

plt.legend()

plt.show()

##### bar 차트

In [ ]:
# 차트 작성

plt.figure(figsize=(10, 5))

for i in df1_mf.index:
    # index에서 범례 출력값 추출하기
    if i.split(" ")[-1] == "":
        lab=i.split(" ")[-2]
    else:
        lab=i.split(" ")[-1]

    # 차트에 index 값을 이용해 차트 출력
    plt.bar(df1_mf.columns, df1_mf.loc[i], label=lab )

plt.legend()

plt.show()

##### barh 차트

In [ ]:
# 차트 작성

plt.figure(figsize=(7, 10))

for i in df1_mf.index:
    # index에서 범례 출력값 추출하기
    if i.split(" ")[-1] == "":
        lab=i.split(" ")[-2]
    else:
        lab=i.split(" ")[-1]

    # 차트에 index 값을 이용해 차트 출력
    plt.barh(df1_mf.columns, df1_mf.loc[i], label=lab )

plt.legend()

plt.show()

##### [미션] 남자/여자 데이터 가져오기
- df1에서 남자 데이터(df_m)/여자 데이터(df_f) 추출해 저장하기

In [ ]:
a=list(df1.columns).index("0세.1")   # 리스트에서 특정 값의 위치 반환
b=list(df1.columns).index("100세 이상.1")+1

df1_m=df1.iloc[:, a:b]
df1_m.columns

In [ ]:
df1_m=df1.iloc[:,a:b]
df1_m

In [ ]:
a=list(df1.columns).index("0세.2")   # 리스트에서 특정 값의 위치 반환
b=list(df1.columns).index("100세 이상.2")+1 

df1_f=df1.iloc[:, a:b]
df1_f.columns

- 남/여 인원수를 하나의 그래프에 출력하시오
- 특정 지역의 1개의 그래프(가로막대)
- 전체 세대별 인원에 대한 그래프(가로막대)

In [ ]:
plt.figure(figsize=(5, 5))

plt.barh(df1_m.columns, df1_m.iloc[0], label="남" )
plt.barh(df1_m.columns, df1_f.iloc[0], label="여" )
plt.title(df1_m.index[0], size=15)
plt.legend()
plt.show()

plt.figure(figsize=(5, 5))
plt.barh(df1_m.columns, df1_m.iloc[1], label="남" )
plt.barh(df1_m.columns, df1_f.iloc[1], label="여" )
plt.title(df1_m.index[1], size=15)
plt.legend()

plt.show()

In [ ]:
# 5개 동시에 출력

for i in range(len(df1_m)):
    plt.figure(figsize=(5, 5))

    plt.barh(df1_mf.columns, df1_m.iloc[i], label="남" )
    plt.barh(df1_mf.columns, df1_f.iloc[i], label="여" )
    plt.title(df1_m.index[i], size=15)
    plt.legend()
    plt.show()

- 남은 왼쪽, 여는 오른쪽으로 출력되는 차트   
남자 데이터를 음수로 변경

In [ ]:
val=[]
for i in df1_m.iloc[0]:
    val.append(-i)

print(val[:10])

plt.figure(figsize=(5, 5))

plt.barh(df1_mf.columns, val, label="남" )
plt.barh(df1_mf.columns, df1_f.iloc[0], label="여" )
plt.title(df1_m.index[0], size=15)
plt.legend()
plt.show()

In [ ]:
def colval(df_data):
    val=[-i  for i in df_data]
    return val

for i in range(len(df1_m)):
    plt.figure(figsize=(5, 5))

    plt.barh(df1_mf.columns, colval(df1_m.iloc[i]), label="남" )
    plt.barh(df1_mf.columns, df1_f.iloc[i], label="여" )
    plt.title(df1_m.index[i], size=15)
    plt.legend()
    plt.show()

- lambda: 간단한 함수식을 정의할때 사용
 * lambda 매개변수 : 표현식

In [ ]:
def aa(x, y):
    return x + y

aa(10,12)

In [ ]:
(lambda x, y: x + y)(10, 12)

In [ ]:
(lambda x : -x)(10)

In [ ]:
for i in range(len(df1_m)):
    plt.figure(figsize=(5, 5))

    plt.barh(df1_mf.columns, df1_m.apply(lambda x: -x).iloc[i], label="남" )
    plt.barh(df1_mf.columns, df1_f.iloc[i], label="여" )
    plt.title(df1_m.index[i], size=15)
    plt.legend()
    plt.show()

In [ ]:
plt.figure(figsize=(5, 5))

plt.barh(df1_mf.columns, df1_m.apply(lambda x: -x).iloc[0], label="남" )
plt.barh(df1_mf.columns, df1_f.iloc[0], label="여" )
plt.title(df1_m.index[0], size=15)
plt.legend()
plt.show()

In [ ]:
df1_m.columns
df1_f.columns

In [ ]:
# columns 값을 0 ~ 데이터 갯수 만큼의 숫자로 변경
df1_m.columns=range(len(df1_m.columns))
df1_f.columns=range(len(df1_f.columns))

df1_m.columns
list(df1_f.columns)

In [ ]:
# 위에서 변경한 columns를 이용해 차트 작성
plt.figure(figsize=(5, 5))

plt.barh(df1_m.columns, df1_m.apply(lambda x: -x).iloc[0], label="남" )
plt.barh(df1_m.columns, df1_f.iloc[0], label="여" )
plt.title(df1_m.index[0], size=15)
plt.legend()
plt.show()

- 전체 세대별 인원에 대한 그래프(가로막대)

In [ ]:
print(df1_m.sum())  # 열 기준 합계, 계료시의 남자 데이터의 세대별 합계
df1_m[[0]]

In [ ]:
# df1_m[[0]]

In [ ]:
df1_m.sum(axis=1)   # 행단위 합계 계산

##### 인구 구조를 나타내는 파이 차트 작성(146 page~)

In [ ]:
mf_size=[df1_m.iloc[0].sum(), df1_f.iloc[0].sum()]
mf_size

In [ ]:
import matplotlib.pyplot as plt

plt.rc("font", family="NanumBarunGothic")

plt.figure()
plt.pie(mf_size, 
        labels=["남", "여"], 
        autopct="%.1f%%",
        startangle = 90
        )
plt.title("계룡시 남여 비율")
plt.show()

In [ ]:
plt.figure()

plt.plot(df1_m.columns, df1_m.iloc[0], label="남자")
plt.plot(df1_f.columns, df1_f.iloc[0], label="여자")
plt.legend()
plt.show()

##### 세대별 차이

In [ ]:
mf_sub=df1_m - df1_f
mf_sub

In [ ]:
plt.figure()
plt.bar(mf_sub.columns, mf_sub.iloc[0])
plt.show()

##### 산점도 차트

In [ ]:
import matplotlib.pyplot as plt

plt.rc("font", family="NanumBarunGothic")
plt.style.use('ggplot')
plt.figure(figsize=(10, 5), dpi=300)

plt.title("충남 계룡시 남/여 인구 분포 그래프")
plt.scatter(df1_m.iloc[0], df1_f.iloc[0], c=df1_f.columns, alpha=0.5, cmap="rainbow")
plt.colorbar()
plt.plot(range(df1_m.iloc[0].max()), range(df1_m.iloc[0].max()), 'g')
plt.xlabel("남성인구수")
plt.ylabel("여성인구수")
plt.show()

##### 여러개의 차트 출력하기

In [ ]:
import matplotlib.pyplot as plt
plt.rc("font", family="NanumBarunGothic")

f, axes = plt.subplots(3, 3)
# 격자 크기 설정
f.set_size_inches((10, 7))

# 격자 여백 설정
plt.subplots_adjust(wspace=0.3, hspace=0.3)

# [0, 0] 위치에 막대그래프 출력
axes[0, 0].bar(["x", "y", "z"], [15, 25, 20], color=['r', 'g', 'y'], alpha=0.5)

# [1, 2] 위치에 선 그래프 출력
axes[1][2].plot(range(5), [2,8,6,10,16], color="blue", marker="o")

# [2, 1] 위치에 scatter 그래프 출력(색상이 다르게 해서 2개 출력)
axes[2, 1].scatter(range(5), [2,8,6,10,16], color="red", s=10)
axes[2, 1].scatter([0.5, 1.5, 2.5, 3.5, 4.5], [4, 5, 6, 4, 2], color="purple", s=10)

plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.rc("font", family="NanumBarunGothic")

f, axes = plt.subplots(2, 3)
f.set_size_inches((10, 10))
plt.subplots_adjust(wspace=0.3, hspace=0.3)

axes[0,0].scatter(df1_m.iloc[0], df1_f.iloc[0], c=df1_f.columns, alpha=0.5, cmap="rainbow")
        

axes[0,1].plot(df1_m.columns, df1_m.iloc[0], label="남자")
axes[0,1].plot(df1_f.columns, df1_f.iloc[0], label="여자")

axes[0,2].bar(mf_sub.columns, mf_sub.iloc[0])

plt.show()

In [ ]:
import matplotlib.pyplot as plt
plt.rc("font", family="NanumBarunGothic")

plt.subplot(1, 3, 1)
plt.scatter(df1_m.iloc[0], df1_f.iloc[0], c=df1_f.columns, alpha=0.5, cmap="rainbow")
        
plt.subplot(1, 3, 2)
plt.plot(df1_m.columns, df1_m.iloc[0], label="남자")
plt.plot(df1_f.columns, df1_f.iloc[0], label="여자")

plt.subplot(1, 3, 3)
plt.bar(mf_sub.columns, mf_sub.iloc[0])

plt.show()