<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/1_%EA%B5%AC%EA%B8%80_API_%EC%B2%B4%ED%97%98_%EC%A3%BC%EC%9C%A0%EC%86%8C_%EC%A7%80%EB%8F%84_%EA%B7%B8%EB%A6%AC%EA%B8%B0_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Html 태그 참조
- https://ofcourse.kr/html-course/HTML-%EC%9E%85%EB%AC%B8

구글맵 API 체험
- 구글맵 API 가입
- 참고: https://cloud.google.com/maps-platform/
- 참고: https://tinyurl.com/y3uw2ppf

In [ ]:
# !pip install googlemaps

In [ ]:
#!pip install googlemaps
import googlemaps  # 데이터는 Json 형식(딕셔너리)으로 제공

user_Key='AIzaSyBFKF5Es1JZvKlv_TWde1todZtANBOdPyQ'
gmaps=googlemaps.Client(key=user_Key)

sch=input("조회할 명칭이나 주소를 입력하세요:")
ggmp=gmaps.geocode(sch, language='ko')
ggmp

조회할 명칭이나 주소를 입력하세요:북수원도서관

[{'address_components': [{'long_name': '６５',
    'short_name': '６５',
    'types': ['premise']},
   {'long_name': '만석로',
    'short_name': '만석로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '장안구',
    'short_name': '장안구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '수원시',
    'short_name': '수원시',
    'types': ['locality', 'political']},
   {'long_name': '경기도',
    'short_name': '경기도',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '440-300',
    'short_name': '440-300',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 경기도 수원시 장안구 만석로 65',
  'geometry': {'location': {'lat': 37.2975639, 'lng': 126.9883961},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.2989128802915,
     'lng': 126.9897450802915},
    'southwest': {'lat': 37.2962149197085, 'lng': 126.9870471197085}}},
  'partial_match': True,
  'place_id': 'ChIJE4rwKSxdezURx5ZrPKxvKDA',
  'plus_code': {'compound_code': '7XXQ+29 대한민국 경기도 수원시',
   'global_code': '8Q987XXQ+29'},
  'types': ['establishment', 'library', 'point_of_interest']}]

In [ ]:
ggmp[0]

{'address_components': [{'long_name': '６５',
   'short_name': '６５',
   'types': ['premise']},
  {'long_name': '만석로',
   'short_name': '만석로',
   'types': ['political', 'sublocality', 'sublocality_level_4']},
  {'long_name': '장안구',
   'short_name': '장안구',
   'types': ['political', 'sublocality', 'sublocality_level_1']},
  {'long_name': '수원시',
   'short_name': '수원시',
   'types': ['locality', 'political']},
  {'long_name': '경기도',
   'short_name': '경기도',
   'types': ['administrative_area_level_1', 'political']},
  {'long_name': '대한민국', 'short_name': 'KR', 'types': ['country', 'political']},
  {'long_name': '440-300', 'short_name': '440-300', 'types': ['postal_code']}],
 'formatted_address': '대한민국 경기도 수원시 장안구 만석로 65',
 'geometry': {'location': {'lat': 37.2975639, 'lng': 126.9883961},
  'location_type': 'ROOFTOP',
  'viewport': {'northeast': {'lat': 37.2989128802915,
    'lng': 126.9897450802915},
   'southwest': {'lat': 37.2962149197085, 'lng': 126.9870471197085}}},
 'partial_match': True,
 'place_id': 'ChIJE4rwKSxdezURx5ZrPKxvKDA',
 'plus_code': {'compound_code': '7XXQ+29 대한민국 경기도 수원시',
  'global_code': '8Q987XXQ+29'},
 'types': ['establishment', 'library', 'point_of_interest']}

In [ ]:
print("주소:", ggmp[0]['formatted_address'])
print(ggmp[0]['geometry'])
print()
print(ggmp[0]['geometry']['location'])
print()
print(ggmp[0]['geometry']['location']['lat'])
print(ggmp[0]['geometry']['location']['lng'])

주소: 대한민국 경기도 수원시 장안구 만석로 65
{'location': {'lat': 37.2975639, 'lng': 126.9883961}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.2989128802915, 'lng': 126.9897450802915}, 'southwest': {'lat': 37.2962149197085, 'lng': 126.9870471197085}}}

{'lat': 37.2975639, 'lng': 126.9883961}

37.2975639
126.9883961

유가정보를 이용한 지도 그리기

In [ ]:
!pip install folium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.21.6)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2022.6.15)

In [ ]:
# !pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (2.0.1)

In [ ]:
ls

'지역_위치별(주유소) (1).xls'   drive/        '지역_위치별(주유소).xls'
'지역_위치별(주유소) (2).xls'   sample_data/

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
pwd

'/content'

In [ ]:
cd /content/drive/MyDrive

/content/drive/MyDrive

In [ ]:
ls

 배포@
 알고리즘/
'한국어 화용론적 맥락 (1).gdoc'
'2022 OUTTA AI 부트캠프_솔루션 열람 서약서_김초원 (1).gdoc'
'2022 OUTTA AI 부트캠프_솔루션 열람 서약서_김초원.gdoc'
'2022 OUTTA AI 부트캠프_솔루션 열람 서약서.gdoc'
'2022 OUTTA AI 부트캠프_솔루션 열람 서약서_김초원.pdf'
'자료구조와 알고리즘 2일차.ipynb'
 6조@
'6조 프로젝트 주간일지(개인).gsheet'
 A반_2조@
'Chatbot project'/
 Classroom/
'Colab Notebooks'/
 data@
 작명.gdoc
'한국어 화용론적 맥락.gdoc'
'언어학습 기획안.gdoc'
'머신러닝을 위한 기초 수학.gdoc'
 GSAT/
'복습(ML)'/
 mult_DL@
 multi_base@
 multi_ML@
 멀티모달_Part_06/
 멀티모달_Part_11/
'김초원 서약서.pdf'
'청일점조 피피티.pptx(김초원 수정).pptx'
'살려조 project'@
'Recording by myself'/
 subway/

In [ ]:
# pip install --upgrade xlrd

In [ ]:
import pandas as pd
import folium
import googlemaps
from glob import glob

# c:/pydata 폴더에서 원하는 파일만 추출해 리스트로 제공
filenames=glob("./subway/*.xls")

df=pd.DataFrame()

for f in filenames:
  print(f)
  tmp_df=pd.read_excel(f,header=2)
  df=pd.concat([df,tmp_df])
  
display(df.loc[0])   

df=df.reset_index(drop=True)
print(df)

./subway/지역_위치별(주유소).xls
./subway/지역_위치별(주유소) (2).xls
./subway/지역_위치별(주유소) (1).xls

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1993,1940,-
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로 1246 (둔촌제2동),현대오일뱅크,02-487-2030,Y,-,2032,1942,-
0,서울특별시,지에스이앤알 직영 서울주유소,서울 양천구 신정로 236 (신정동),GS칼텍스,02-2607-9478,N,-,1978,1958,-

       지역                    상호                     주소      상표           전화번호  \
0   서울특별시           (주)보성 세곡주유소  서울 강남구  헌릉로 731 (세곡동)   SK에너지    02-445-6870
1   서울특별시                 방죽주유소  서울 강남구 밤고개로 215 (율현동)   GS칼텍스    02-459-3434
2   서울특별시   현대오일뱅크(주)직영 산성셀프주유소         서울 강남구 헌릉로 730  현대오일뱅크   02-2226-4963
3   서울특별시       에쓰-오일㈜직영 개나리주유소   서울 강남구 언주로 423 (역삼동)   S-OIL    02-564-0187
4   서울특별시        (주)중앙에너비스 수서지점   서울 강남구 광평로 202 (수서동)   SK에너지  070-8707-4582
..    ...                   ...                    ...     ...            ...
71  서울특별시                 양정주유소  서울 양천구 국회대로 158 (신정동)  현대오일뱅크   02-2691-5185
72  서울특별시  현대오일뱅크(주)직영 신목동셀프주유소      서울 양천구 목동동로10길 13  현대오일뱅크   02-2642-5188
73  서울특별시           SK에너지(주) 신평   서울 양천구 목동남로 62 (신정동)   SK에너지   02-2654-5145
74  서울특별시                 신양주유소          서울 양천구 지양로 67   SK에너지   02-2608-3312
75  서울특별시                 평화주유소  서울 양천구 안양천로 657 (신정동)   SK에너지   02-2647-2122

   셀프여부 고급휘발유   휘발유    경유  실내등유
0     Y     -  1993  1940     -
1     Y     -  1997  1949     -
2     Y  2200  2000  1950     -
3     N  2159  2009  1849     -
4     Y  2195  2025  1945     -
..  ...   ...   ...   ...   ...
71    N     -  2048  1998     -
72    Y  2280  2048  1999     -
73    N  2179  2059  2019  1150
74    N     -  2199  2099  1699
75    N  2427  2247  2157     -

[76 rows x 10 columns]

In [ ]:
df.head()
df.tail()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      76 non-null     object
 1   상호      76 non-null     object
 2   주소      76 non-null     object
 3   상표      76 non-null     object
 4   전화번호    76 non-null     object
 5   셀프여부    76 non-null     object
 6   고급휘발유   76 non-null     object
 7   휘발유     76 non-null     object
 8   경유      76 non-null     object
 9   실내등유    76 non-null     object
dtypes: object(10)
memory usage: 6.1+ KB

In [ ]:
# df에서 ["상호","주소","상표", "휘발유"] 만 추출하기
mapdf=df[["상호","주소","상표", "휘발유"]]
mapdf.head()

                    상호                     주소      상표   휘발유
0          (주)보성 세곡주유소  서울 강남구  헌릉로 731 (세곡동)   SK에너지  1993
1                방죽주유소  서울 강남구 밤고개로 215 (율현동)   GS칼텍스  1997
2  현대오일뱅크(주)직영 산성셀프주유소         서울 강남구 헌릉로 730  현대오일뱅크  2000
3      에쓰-오일㈜직영 개나리주유소   서울 강남구 언주로 423 (역삼동)   S-OIL  2009
4       (주)중앙에너비스 수서지점   서울 강남구 광평로 202 (수서동)   SK에너지  2025

In [ ]:
mapdf.iloc[i,1].split("(")

['서울 양천구 안양천로 657 ']

In [ ]:
# 주소에서 ()에 있는 데이터 제거
for i in range(len(mapdf)):
    mapdf.iloc[i,1]=mapdf.iloc[i,1].split("(")[0]

mapdf.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

                    상호                주소      상표   휘발유
0          (주)보성 세곡주유소  서울 강남구  헌릉로 731    SK에너지  1993
1                방죽주유소  서울 강남구 밤고개로 215    GS칼텍스  1997
2  현대오일뱅크(주)직영 산성셀프주유소    서울 강남구 헌릉로 730  현대오일뱅크  2000
3      에쓰-오일㈜직영 개나리주유소   서울 강남구 언주로 423    S-OIL  2009
4       (주)중앙에너비스 수서지점   서울 강남구 광평로 202    SK에너지  2025

In [ ]:
# 주소에서 ()에 있는 데이터 제거(권장)
for i in mapdf.index:
    mapdf.loc[i,"주소"]=mapdf.loc[i,"주소"].split("(")[0]

mapdf.head()


type(mapdf.loc[i,"주소"])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

str

In [ ]:
# 구글 API를 이용한 주소 검색(위도/경도 추출)
user_Key='AIzaSyB8Ua6RAi-ZC5WoE4xbEtlnEWZ_XOpaWGk'
gmaps=googlemaps.Client(key=user_Key)

ggmap=gmaps.geocode("서울 양천구 신정로 236", language='ko')
lat=ggmap[-1]['geometry']['location']['lat']
lng=ggmap[-1]['geometry']['location']['lng']
print(lat, lng)

37.5105184 126.8476876

In [ ]:
ggmap

[{'address_components': [{'long_name': '６５７',
    'short_name': '６５７',
    'types': ['premise']},
   {'long_name': '안양천로',
    'short_name': '안양천로',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': '양천구',
    'short_name': '양천구',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': '서울특별시',
    'short_name': '서울특별시',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': '대한민국',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '158-070',
    'short_name': '158-070',
    'types': ['postal_code']}],
  'formatted_address': '대한민국 서울특별시 양천구 안양천로 657',
  'geometry': {'location': {'lat': 37.5058857, 'lng': 126.8707718},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5072346802915,
     'lng': 126.8721207802915},
    'southwest': {'lat': 37.5045367197085, 'lng': 126.8694228197085}}},
  'place_id': 'ChIJjQ8o_nSefDURt10wscX2950',
  'plus_code': {'compound_code': 'GV4C+98 대한민국 서울특별시',
   'global_code': '8Q98GV4C+98'},
  'types': ['street_address']}]

In [ ]:

lat=[];lng=[]

for i in mapdf.index:
    ggmap=gmaps.geocode(mapdf.loc[i,"주소"], language='ko')
    lat.append(ggmap[-1]['geometry']['location']['lat'])
    lng.append(ggmap[-1]['geometry']['location']['lng'])
    
mapdf['위도']=lat
mapdf['경도']=lng
mapdf.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

                    상호                주소      상표   휘발유         위도          경도
0          (주)보성 세곡주유소  서울 강남구  헌릉로 731    SK에너지  1993  37.467210  127.118713
1                방죽주유소  서울 강남구 밤고개로 215    GS칼텍스  1997  37.474940  127.106852
2  현대오일뱅크(주)직영 산성셀프주유소    서울 강남구 헌릉로 730  현대오일뱅크  2000  37.466478  127.119039
3      에쓰-오일㈜직영 개나리주유소   서울 강남구 언주로 423    S-OIL  2009  37.500762  127.043065
4       (주)중앙에너비스 수서지점   서울 강남구 광평로 202    SK에너지  2025  37.483993  127.094978

In [ ]:
# 주유소 1개 출력
m=folium.Map(location=[37.5373614, 127.1244733], zoom_start=13)

folium.Marker([mapdf.loc[75, "위도"], mapdf.loc[75, "경도"]], 
               popup=mapdf.loc[75, "상호"], 
               icon=folium.Icon(color='red')).add_to(m)
m

In [ ]:
# 전체 주유소 출력(개인적으로 작성해보세요)
mapdf["상호"]

0              (주)보성 세곡주유소
1                    방죽주유소
2      현대오일뱅크(주)직영 산성셀프주유소
3          에쓰-오일㈜직영 개나리주유소
4           (주)중앙에너비스 수서지점
              ...
71                   양정주유소
72    현대오일뱅크(주)직영 신목동셀프주유소
73             SK에너지(주) 신평
74                   신양주유소
75                   평화주유소
Name: 상호, Length: 76, dtype: object