<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/2_for_if_%EB%B3%B5%EC%8A%B5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## for & range
- for 매개변수 in range(숫자):
       0에서 숫자-1 의 횟수만큼 for안의 구문을 반복함
- for 매개변수 in range(시작숫자,끝숫자):
      시작숫자에서 끝숫자-1 번 횟수만큼 for 구문을 반복함

In [53]:
# '연습' 이라는 단어를 0번,1번,2번,3번,4번 출력함.
for i in range(5):
  print('연습')

# \n한개는  enter한번임
print('\n--- 위의 구문을 압축기법(comprehension) 으로 표현하는 아래와 같음--')
['연습' for i in range(5)]

연습
연습
연습
연습
연습

--- 위의 구문을 압축기법(comprehension) 으로 표현하는 아래와 같음--

['연습', '연습', '연습', '연습', '연습']

In [54]:
# range(5)의 0,1,2,3,4를 i에 할당함
for i in range(5):
  print(i)

print('\n--- 위의 구문을 압축기법(comprehension) 으로 표현하는 아래와 같음--')
[i for i in range(5)]

0
1
2
3
4

--- 위의 구문을 압축기법(comprehension) 으로 표현하는 아래와 같음--

[0, 1, 2, 3, 4]

In [100]:
from typing import Counter
#########################
##### [미션]
##### 2~3번의 for를 압축기법으로 한줄로 작성
########################


["연습"*i for i in range(5)]

['', '연습', '연습연습', '연습연습연습', '연습연습연습연습']

In [73]:
## range구문을 이용하여서 로또번호 6개 숫자를 고름
##  0번index에 로또번호1, 1번index에 로또번호2, 2번index에 로또번호3.......5번index에 로또번호 6
## range는 반복횟수임.
import random
lotto=[]
for i in range(6):
  lotto.append(random.randrange(1,45))

print(lotto)    # 중복값이 있을수 있음.
print(set(lotto))  # 중복제거해서 보여주기

[27, 20, 37, 13, 43, 40]
{37, 40, 43, 13, 20, 27}

In [89]:
#########################
##### [미션]
##### 5~8번의 for를 압축기법으로 한줄로 작성
########################

import random
lotto=[]
for i in range(6):
  lotto.append(random.randrange(1,45))
# lotto

print(lotto)    # 중복값이 있을수 있음.
print(set(lotto))  # 중복제거해서 보여주기

[random.randrange(1,45) for i in range(6)]

[19, 21, 8, 34, 3, 9]
{34, 3, 8, 9, 19, 21}

[15, 44, 6, 33, 42, 31]

In [93]:
#####  홀수, 짝수
# 홀수, 짝수는 2로 나누었을때 나머지값이 0이면 짝수, 1이면 홀수(또는 0외의값) 으로 계산하면 편리함
print('20%2, 22%2, 19%2, 35%2 를 계산한 결과, %는 잉여연산자==>')
print(20%2, 22%2, 19%2, 35%2)
print('-------------------------------------')

# 0~9까지 짝수값만 출력
for i in range(1,10):
  if i%2==0:
    print(i)

[i for i in range(1,10) if i%2==0]

20%2, 22%2, 19%2, 35%2 를 계산한 결과, %는 잉여연산자==>
0 0 1 1
-------------------------------------
2
4
6
8

[2, 4, 6, 8]

In [217]:
#########################
##### [미션]if와 for 컴프리헨션
##### 8~13번의 for를 압축기법으로 한줄로 작성
########################

[random.randrange(1,45) for i in range(6) if random.randrange(1,45)%2==0]

[33, 32]

## for 객체
- for 매개변수 in 객체명:
      객체명의 자료 0번 index부터 len(객체명) 인덱스까지 차례로 매개변수에 할당  
      즉  매개변수=객체명[0],..... 매개변수=객체명[len(객체명)]

In [60]:
# A 학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같다.
# [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
# 이 학급학생의 총점수를 구함. (numpy가 아닌 for 로)


a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0

for i in a:
  total+=i             # total=total+i와 같음

# 소숫점은 float로서 %.2f는  float형이며 소수이하 2자리표현하자라는뜻(.2)
print("총 %d 건의 자료가 있으며 총합은 %d이며, 평균은 %.2f임(총합/len(a))"%(len(a),total,total/len(a)))

총 10 건의 자료가 있으며 총합은 790이며, 평균은 79.00임(총합/len(a))

In [61]:
### len함수가 없을때는 사용자가 직접 count를 해줌
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0 ; cnt=0
for i in a:
  cnt+=1
  total+=i
print('총건수%d'%cnt)
print('총합%d'%total)

총건수10
총합790

In [221]:
#########################################
####### 미션 if함수와 for
####### 점수중에 90이상의 자료만 합과 평균을 출력
#########################################
a=[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total=0

for i in a:
  if i>=90:
    total+=i

print(total)

285

In [250]:
#########################################
####### 미션: 이중for
####### data[0], data[1], data[2]의 총합 출력
#########################################
data=[[80,40,14,15,45,47,45,45,78,20],
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100],
[20,28,40,70,70,20,20,70,70,80]]

for i in range(3):
  print(data[i])
  for a in data[i]:
    total+=a

print(total)

[80, 40, 14, 15, 45, 47, 45, 45, 78, 20]
[70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
[20, 28, 40, 70, 70, 20, 20, 70, 70, 80]
2985

In [254]:
#########################################
####### 미션
######  구글검색, 파이썬 문자 split
#########################################

# 아래의 문자열을 txt append에 '/' 단위로 구별하여서 추가
# print해서 확인 txt[0]=> 노트북,  txt[1]=>모니터,  txt[2]=>키보드가 됨
pumMok='노트북/모니터/키보드'

text=[]
for i in pumMok.split("/"):
  text.append(i)
print(text)

['노트북', '모니터', '키보드']

'노트북'

In [260]:
#########################################
####### 미션
######  for를 이용하여 문자열을 나누고 txt에 append
######  for컴프리헨션도 할수 있으면 해봄
#########################################

# '/'를 기준으로 나눔
# txt 의 최종결과는
# 노트북,모니터,키보드,키보드,볼펜,사인펜,노트,usb,형광펜

pumMok=['노트북/모니터/키보드',
        '키보드/볼펜',
        '사인펜/노트/usb/형광펜']
txt=[]
for i in pumMok:
  i=i.split("/")
  for s in i:
    txt.append(s)
txt

['노트북', '모니터', '키보드', '키보드', '볼펜', '사인펜', '노트', 'usb', '형광펜']

In [279]:
#########################################
####### 미션
######  for를 이용하여 문자열을 나누고 txt에 append
######  for컴프리헨션도 할수 있으면 해봄
#########################################

# 아래내용은 이중 for로 작업해야함.
# 최종결과물은
# txt=['노트북,모니터,키보드,키보드,볼펜,사인펜,노트',
#      '키보드,전자칠판,스케치북,노트북']

pumMok=[['노트북/모니터/키보드','키보드/볼펜','사인펜/노트'],
        ['키보드/전자칠판','스케치북/노트북']]

txt=[]
for i in pumMok:
  for s in i:
    s=s.split("/")
    for i in s:
      txt.append(i)
print(txt)

['노트북', '모니터', '키보드', '키보드', '볼펜', '사인펜', '노트', '키보드', '전자칠판', '스케치북', '노트북']

## for 매개변수1,매개변수2 in zip(객체1,객체2):
## 미션없음. 확인만 하세요

In [274]:
# a객체의 자료와 type을 튜플로 묶기
# 작업1: 데이터타입 확인하기
a=[1,2.5,'abc']

datatype=[]
for i in a:
  datatype.append(type(i))
datatype

# 컴프리헨션으로 아래와 같이 작업가능
datatype=[type(i) for i in a]
datatype

[int, float, str]

In [68]:
# a객체의 자료와 type을 튜를로 묶기
# 작업2: 자료아 데이터타입을 for에 넣기

datatypeTuple=[]
for (i,j) in zip(a,datatype):
  x=(i,j)
  datatypeTuple.append(x)
print(datatypeTuple)


# 컴프리헨션으로 아래와 같이 작업가능
print('\n\n-------------- 컴프리헨션으로 작업함')
datatypeTuple=[(i,j) for i,j in zip(a,datatype)]
datatypeTuple

[(1, <class 'int'>), (2.5, <class 'float'>), ('abc', <class 'str'>)]


-------------- 컴프리헨션으로 작업함

[(1, int), (2.5, float), ('abc', str)]