<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class myclass():
  cnt=0 #클래수 변수

  #초기지 
  def __init__(self,가로,세로):
    self.witdth=가로
    self.height=세로
    myclass.cnt+=1

  #인스턴스 메시지
  def calarea(self):
    area=self.witdth*self.height
    return area

  #정적 메서드
  @staticmethod
  def isSquare(recwidth,recheight):
    return recwidth==recheight
  
  #클래스 메서드
  @classmethod
  def printcnt(cls):
    print(cls.cnt)

In [12]:
cls=myclass(10,20)
print(cls.cnt)
print(cls.witdth)
print(cls.height)

5
10
20

In [8]:
square = myclass.isSquare(10, 20)
print(square)

False

In [12]:
cls1=myclass(10, 10)
cls2=myclass(10, 20)

cls1.printcnt()
print(cls1.isSquare(10, 10))
cls2.printcnt()

area=cls1.calarea()
print(area)

22
True
22
100

In [15]:
print(cls1.height)
cls1.height = 25
print(cls1.height)

10
25

In [18]:
cls2 = myclass(20, 30)
print(myclass.cnt)
print(cls1.cnt)
print(cls2.cnt)

27
27
27

In [19]:
### class 
class Student():
    # super class
    def __init__(self, name, age, like):
        self.name = name
        self.age = age
        self.like = like

    def stuinfo(self):
        print(f"이름:{self.name}, 나이:{self.age}, 좋아하는것:{self.like}")

In [21]:
class Student_up(Student):
    # sub class
    def stuinfo(self):
        super().stuinfo()
        print(f"{self.name}님 행복한 하루 되세요.")

In [24]:
홍길동 = Student("홍길동", 35, "축구")
김다은 = Student("김다은", 55, "여행")

홍길동.stuinfo()
김다은.stuinfo()

이름:홍길동, 나이:35, 좋아하는것:축구
이름:김다은, 나이:55, 좋아하는것:여행

In [25]:
홍길동.stuinfo()
김다은.stuinfo()

이름:홍길동, 나이:35, 좋아하는것:축구
이름:김다은, 나이:55, 좋아하는것:여행

In [26]:
홍길동 = Student("홍길동", 35, "축구")      # 부모 클래스 => Student
이지은 = Student_up("이지은", 55, "여행")   # Student에 의해 새로 만들어진 자식 클래스(Student_up)

홍길동.stuinfo()
이지은.stuinfo()

이름:홍길동, 나이:35, 좋아하는것:축구
이름:이지은, 나이:55, 좋아하는것:여행
이지은님 행복한 하루 되세요.