<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/codingdojang2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Unit14부터

In [ ]:
x=5
if x==10:
  print("10입니다.")
else:
  print("10이 아닙니다")

10이 아닙니다

In [ ]:
x=5
if x==10:
  y=x
else:
  y=0

In [ ]:
y

0

In [ ]:
x=5
y=x if x==10 else 0

In [ ]:
y

0

In [ ]:
x=5
if x ==10:
  print("10입니다")
else:
  print("x에 들어있는 숫자는")
  print("10이 아닙니다.")

x에 들어있는 숫자는
10이 아닙니다.

In [ ]:
x=10

if x ==10:
  print("10입니다.")
else:
  print("x에 들어있는 숫자는")
print("10이 아닙니다")

10입니다.
10이 아닙니다

In [ ]:
if True:
  print("참")
else:
  print("거짓")

if False:
  print("참")

else:
  print("거짓")

if None: #None은 
  print("참")
else:
  print("거짓")

참
거짓
거짓

In [ ]:
if 0:
  print("참")
else:
  print("거짓") #0은 거짓

if 1:
  print("참") #1은 참
else:
  print("거짓")

if 0x1F: #16진수
  print("참")
else:
  print("거짓")

if 0b1000: #2진수
  print("참")
else:
  print("거짓")

if 13.5: #실수
  print("참")
else:
  print("거짓")

거짓
참
참
참
참

In [ ]:
if "Hello": #문자열
  print("참")
else:
  print("거짓")

if "":
  print("참")
else:
  print("거짓")

참
거짓

In [ ]:
if not 0:
  print("참")

if not None:
  print("참")

if not "":
  print("참")

참
참
참

In [ ]:
x=10
y=20

if x == 10 and y ==20:
  print("참")
else:
  print("거짓")

참

In [ ]:
if x>0:
  if x<20:
    print("20보다 작은 양수입니다.")

20보다 작은 양수입니다.

In [ ]:
if x>0 and x<20:
  print("20보다 작은 양수입니다")

20보다 작은 양수입니다

In [ ]:
if 0< x< 20:
  print("20보다 작은 양수입니다.")

20보다 작은 양수입니다.

In [ ]:
written_test=75
coding_test=True

if written_test>=80 & coding_test==True:
  print("합격")

else:
  print("불합격")

불합격

In [ ]:
a,b,c,d=map(int,input().split())

if a<0 or b<0 or c<0 or d<0 or a>100 or b>100 or c>100 or d>100:
    print("잘못된 점수")
    
else:
    if (a+b+c+d)/4>=80:
        print("합격")
    else: print("불합격")

-1 10 20 30
잘못된 점수

In [ ]:
button=int(input())

if button==1:
  print("coke")
if button==2:
  print("hwanta")
else:
  print("해당되는 음료가 없습니다")

0
해당되는 음료가 없습니다

In [ ]:
x = int(input())
if 11<=x<=20:
  print("11~20")
elif 21<=x<=30:
  print("21~30")
else: 
  print("아무것도 해당하지 않음")

11
11~20

In [ ]:
# 표준 입력으로 나이(만 나이)가 입력됩니다(입력 값은 7 이상 입력됨). 교통카드 시스템에서 시내버스 요금은 다음과 같으며 각 나이에 맞게 요금을 차감한 뒤 잔액이 출력되게 만드세요(if, elif 사용). 현재 교통카드에는 9,000원이 들어있습니다.

#어린이(초등학생, 만 7세 이상 12세 이하): 650원
#청소년(중∙고등학생, 만 13세 이상 18세 이하): 1,050원
#어른(일반, 만 19세 이상): 1,250원

age = int(input())
balance = 9000    
if 7<= age <=12:
  balance-=650
elif 13<= age <=18:
  balance-=1050
elif 19 <= age:
  balance-=1250

print(balance)

17
7950

In [ ]:
for i in range(1, 10, 1):
  print(i)

1
2
3
4
5
6
7
8
9

In [3]:
x = [49, -17, 25, 102, 8, 62, 21]

for i in x:
  print(i*10,end=" ")

490 -170 250 1020 80 620 210

In [6]:
count=int(input())

for i in range(1,10):
  print(count,"*",i,"=",count*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [7]:
i=0
while i < 100:
  print("Hello,world!")
  i+=1

Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!
Hello,world!

In [8]:
import random

In [12]:
random.random()

0.6362875208858522

In [28]:
random.randint(1,6)

1

In [41]:
import random   # random 모듈을 가져옴

i=0
while i !=3:   #3이 아닐때 계속 반복
  i= random.randint(1,6) #radint를 사용하여 1과 6사이의 난수를 생성
  print(i)

6
4
1
4
3

In [44]:
dice=[1,2,3,4,5,6]
random.choice(dice)

5

In [46]:
# while True:
#   print("Hello,world!")

In [48]:
# while 1: #0이 아닌 숫자는 True로 취급하여 무한 루프로 동작
#   print("Hello,world")

In [49]:
# while 'Hello':    # 내용이 있는 문자열은 True로 취급하여 무한 루프로 동작
#     print('Hello, world!')

In [55]:
i = 2
j = 5

while i<=32 or j >=1:   
    print(i, j)    
    i*=2
    j-=1

2 5
4 4
8 3
16 2
32 1

In [67]:
count=int(input())

while count>=1350:
  count-=1350
  print(count)

10000
8650
7300
5950
4600
3250
1900
550

In [68]:
i=0
while True:
  print(i)
  i+=1
  if i ==100:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [69]:
for i in range(10000):
  print(i)
  if i == 100:
    break

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [72]:
for i in range(100):
  if i%2==0:
    continue  # 아래 코드를 실행하지 않고 건너뜀
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [73]:
i=0
while i <100:
  i+=1
  if i %2==0:
    continue
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [75]:
for i in range(10):
  pass # 아무 일도 하지 않음

In [79]:
# while True:
#   pass # 아무 일도 하지 않음

In [82]:
count=int(input("반복할 횟수를 입력하세요: "))

i=0
while True:
  print(i)
  i+=1
  if i ==count:
    break

반복할 횟수를 입력하세요: 3
0
1
2

In [83]:
count=int(input("반복할 횟수를 입력하세요: "))
for i in range(count+1):
  if i %2==0:
    continue
  print(i)

반복할 횟수를 입력하세요: 30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [85]:
i = 30
 
while True:
    print(i)
    if i == 10:
      break                         
    i -= 1

30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10

In [88]:
i =0 
while True:
  if i%10 !=3:
    i+=1
    continue
  if i >73:
    break
  print(i,end=" ")
  i+=1

3 13 23 33 43 53 63 73

In [18]:
start,stop=map(int,input().split())
i=start

while True:
  if i % 10 ==3:
    i+=1
    continue
  if i> stop:
    break 

  print(i,end=" ")
  i+=1

1 30
1 2 4 5 6 7 8 9 10 11 12 14 15 16 17 18 19 20 21 22 24 25 26 27 28 29 30

In [31]:
for i in range(5): #세로방향
  for j in range(5): #가로방향
    # print(i*j)
    print("j:",j,sep="",end=" ")
  print("i:",i,"\\n",sep="")

j:0 j:1 j:2 j:3 j:4 i:0\n
j:0 j:1 j:2 j:3 j:4 i:1\n
j:0 j:1 j:2 j:3 j:4 i:2\n
j:0 j:1 j:2 j:3 j:4 i:3\n
j:0 j:1 j:2 j:3 j:4 i:4\n

In [34]:
for i in range(5):
  for j in range(5):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [41]:
for i in range(5):
  print(i)

0
1
2
3
4

In [42]:
for i in range(5):
  for j in range(5):
    print("i*j",sep="\n",end="")
  print()

i*ji*ji*ji*ji*j
i*ji*ji*ji*ji*j
i*ji*ji*ji*ji*j
i*ji*ji*ji*ji*j
i*ji*ji*ji*ji*j

In [48]:
for j in range(5):
  print("*",end="")

*****

In [49]:
for j in range(5):
  print("*",sep="")

*
*
*
*
*

In [50]:
for i in range(3):            # 3번 반복. 세로 방향
    for j in range(7):        # 7번 반복. 가로 방향
        print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*******
*******
*******

In [59]:
for i in range(5):
  for j in range(5):
    if j <= i: # 세로 방향 변수 i만큼
      print("*",end="")
  print()

*
**
***
****
*****

In [4]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j == i:                # 세로 방향 변수와 같을 때
            print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*
*
*
*
*

In [17]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향

      print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4

In [11]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j == i:                # 세로 방향 변수와 같을 때
            print('*', end='')    # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음

*****

In [19]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j == i:                # 세로 방향 변수와 같을 때
            print('*')

*
*
*
*
*

In [24]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j == i():                # 세로 방향 변수와 같을 때
            print('*', end='') 
               # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
        else:                     # 세로 방향 변수와 다를 때
            print(' ', end='')    # 공백 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*
 *
  *
   *
    *

In [26]:
for i in range(5):        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5):    # 0부터 4까지 5번 반복. 가로 방향
        if j < i:    
          print(' ', end='')            # 세로 방향 변수와 같을 때
        else:                     # 세로 방향 변수와 다를 때
            print('*', end='')     # 별 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
        # 공백 출력. end에 ''를 지정하여 줄바꿈을 하지 않음
    print()    # 가로 방향으로 별을 다 그린 뒤 다음 줄로 넘어감
               # (print는 출력 후 기본적으로 다음 줄로 넘어감)

*****
 ****
  ***
   **
    *

In [29]:
count=int(input())
for i in range():        # 0부터 4까지 5번 반복. 세로 방향
    for j in range(5): 
      if i+j==i*j:
        t=count*'*'
        print(t)

2
**
**

In [30]:
#변수 height에 수를 입력받아 int형으로 변환하여 저장 
height=int(input())
#행은  0 ~ height-1까지
for i in range(height):
    #열은  height-1 ~ 0까지(reversed를 사용함)
    for j in reversed(range(height)):
        #만약 열의 값이 행보다 크면 공백을 출력
        if j > i:
            print(' ', end='')
        #위 조건과 다르면 별을 출력
        else:
            print('*', end='')
    #열은  0 ~ height-1까지
    for j in range(height):
            #만약 열의 값이 행보다 작으면 별을 출력
            if j < i:
                print('*', end='')
    #개행
    print()

9
        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

### unit 19까지