<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/codingdojang6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def plus_ten(x):
  return x+10

plus_ten(1)

11

In [ ]:
lambda x: x+10

In [ ]:
plus_ten=lambda x:x+10

In [ ]:
plus_ten(1)

11

In [ ]:
(lambda x: x + 10)(1) #(lambda 매개변수들: 식)(인수들)

11

In [ ]:
y = 10
(lambda x: x + y)(1)

11

In [ ]:
def plus_ten(x):
  return x+10

list(map(plus_ten, [1, 2, 3]))

[11, 12, 13]

In [ ]:
list(map(lambda x: x + 10, [1, 2, 3]))

[11, 12, 13]

In [ ]:
(lambda : 1)()

1

In [ ]:
x = 10

In [ ]:
(lambda : x)()

10

In [ ]:
#람다 표현식에서 조건부 표현식

##lambda 매개변수들: 식1 if 조건식 else 식2
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x: str(x) if x % 3 == 0 else x, a))

#람다 표현식에서 if를 사용했다면 반드시 else를 사용해야 합니다

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [ ]:
def f(x):
  if x==1:
    return str(x)
  elif x==2:
    return float(x)
  else:
    return x+10

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(f,a))

['1', 2.0, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
a = [1, 2, 3, 4, 5]
b = [2, 4, 6, 8, 10]
list(map(lambda x, y: x * y, a, b))

[2, 8, 18, 32, 50]

In [ ]:
def f(x):
  return x>5 and x<10

In [ ]:
list(map(lambda x, y: x * y, a, b))

[2, 8, 18, 32, 50]

In [ ]:
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]

In [ ]:
list(filter(f, a))

[8, 7, 9]

In [ ]:
list(filter(lambda x: x > 5 and x < 10, a))

[8, 7, 9]

In [ ]:
def f(x,y):
  return x+y

In [ ]:
a = [1, 2, 3, 4, 5]

In [ ]:
from functools import reduce

In [ ]:
reduce(f, a) #리스트에 저장된 요소를 순서대로 더한 뒤 누적된 결과를 반환합니다.

15

In [ ]:
reduce(lambda x, y: x + y, a)

15

In [ ]:
#map, filter, reduce와 리스트 표현식
a = [8, 3, 2, 10, 15, 7, 1, 9, 0, 11]
[i for i in a if i > 5 and i < 10]

[8, 7, 9]

In [ ]:
a = [1, 2, 3, 4, 5]
x = a[0]
for i in range(len(a) - 1):
  x=x+a[i+1]

x

15

In [ ]:
###문자열에서 find 메서드를 사용하면 찾을 문자열이 있을 때 인덱스를 반환하고 없을 때는 -1을 반환합니다                                                                       
files = ['font', '1.png', '10.jpg', '11.gif', '2.jpg', '3.png', 'table.xslx', 'spec.docx']
 
print(list(filter(lambda x: x.find(".jpg")!=-1 or x.find(".png")!=-1,files)))

['1.png', '10.jpg', '2.jpg', '3.png']

In [ ]:
files = input().split()
 
list(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))

1.jpg 10.png 11.png 2.jpg 3.png

['001.jpg', '010.png', '011.png', '002.jpg', '003.png']

In [ ]:
x = 10          # 전역 변수
def foo():
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

10
10

In [ ]:
x = 10          # 전역 변수
def foo():
    x = 20      # x는 foo의 지역 변수
    print(x)    # foo의 지역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
10

In [ ]:
x = 10          # 전역 변수
def foo():
    global x    # 전역 변수 x를 사용하겠다고 설정
    x = 20      # x는 전역 변수
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
20

In [ ]:
# 전역 변수 x가 없는 상태
def foo():
    global x    # x를 전역 변수로 만듦
    x = 20      # x는 전역 변수
    print(x)    # 전역 변수 출력
 
foo()
print(x)        # 전역 변수 출력

20
20

In [ ]:
 x = 10
 locals()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))\nprint(list(filter(lambda x:)))",
  "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))",
  'x = 10          # 전역 변수\ndef foo():\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10          # 전역 변수\ndef foo():\n    x = 20      # x는 foo의 지역 변수\n    print(x)    # foo의 지역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10          # 전역 변수\ndef foo():\n    global x    # 전역 변수 x를 사용하겠다고 설정\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  '# 전역 변수 x가 없는 상태\ndef foo():\n    global x    # x를 전역 변수로 만듦\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10\nlocals()'],
 '_oh': {2: ['001.jpg', '010.png', '011.png', '002.jpg', '003.png']},
 '_dh': ['/content'],
 'In': ['',
  "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))\nprint(list(filter(lambda x:)))",
  "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))",
  'x = 10          # 전역 변수\ndef foo():\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10          # 전역 변수\ndef foo():\n    x = 20      # x는 foo의 지역 변수\n    print(x)    # foo의 지역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10          # 전역 변수\ndef foo():\n    global x    # 전역 변수 x를 사용하겠다고 설정\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  '# 전역 변수 x가 없는 상태\ndef foo():\n    global x    # x를 전역 변수로 만듦\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
  'x = 10\nlocals()'],
 'Out': {2: ['001.jpg', '010.png', '011.png', '002.jpg', '003.png']},
 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x7f7f6cab8390>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x7f7f6606cb10>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x7f7f6606cb10>,
 '_': ['001.jpg', '010.png', '011.png', '002.jpg', '003.png'],
 '__': '',
 '___': '',
 '_i': '# 전역 변수 x가 없는 상태\ndef foo():\n    global x    # x를 전역 변수로 만듦\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_ii': 'x = 10          # 전역 변수\ndef foo():\n    global x    # 전역 변수 x를 사용하겠다고 설정\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_iii': 'x = 10          # 전역 변수\ndef foo():\n    x = 20      # x는 foo의 지역 변수\n    print(x)    # foo의 지역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_i1': "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))\nprint(list(filter(lambda x:)))",
 '_i2': "files = input().split()\n \nlist(map(lambda x: '{0:03d}.{1}'.format(int(x.split('.')[0]), x.split('.')[1]), files))",
 'files': ['1.jpg', '10.png', '11.png', '2.jpg', '3.png'],
 '_2': ['001.jpg', '010.png', '011.png', '002.jpg', '003.png'],
 '_i3': 'x = 10          # 전역 변수\ndef foo():\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 'x': 10,
 'foo': <function __main__.foo()>,
 '_i4': 'x = 10          # 전역 변수\ndef foo():\n    x = 20      # x는 foo의 지역 변수\n    print(x)    # foo의 지역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_i5': 'x = 10          # 전역 변수\ndef foo():\n    global x    # 전역 변수 x를 사용하겠다고 설정\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_i6': '# 전역 변수 x가 없는 상태\ndef foo():\n    global x    # x를 전역 변수로 만듦\n    x = 20      # x는 전역 변수\n    print(x)    # 전역 변수 출력\n \nfoo()\nprint(x)        # 전역 변수 출력',
 '_i7': ' x = 10\n locals()'}

In [ ]:
def foo():
  x=10
  print(locals)

foo()

<built-in function locals>

In [ ]:
def print_hello():
    hello = 'Hello, world!'
    def print_message():
        print(hello) # 바깥쪽 함수의 지역 변수를 사용
    print_message()
 
print_hello()

Hello, world!

In [ ]:
def A():
    x = 10        # A의 지역 변수 x
    def B():
        x = 20    # x에 20 할당
 
    B()
    print(x)      # A의 지역 변수 x 출력
 
A()

10

In [ ]:
#바깥쪽에 있는 지역 변수의 값을 변경하려면 nonlocal 키워드를 사용

def A():
    x = 10        # A의 지역 변수 x
    def B():
        nonlocal x    # 현재 함수의 바깥쪽에 있는 지역 변수 사용
        x = 20        # A의 지역 변수 x에 20 할당
 
    B()
    print(x)      # A의 지역 변수 x 출력
 
A()

20

In [ ]:
def A():
    x = 10
    y = 100
    def B():
        x = 20
        def C():
            nonlocal x
            nonlocal y
            x = x + 30
            y = y + 300
            print(x)
            print(y)
        C()
    B()
 
A()

50
400

In [ ]:
x = 1
def A():
    x = 10
    def B():
        x = 20
        def C():
            global x #글로벌은 무조건 전역변수
            x = x + 30
            print(x)
        C()
    B()
 
A()

31

In [ ]:
##클로저 만들기

def calc():
    a = 3
    b = 5
    def mul_add(x):
        return a * x + b    # 함수 바깥쪽에 있는 지역 변수 a, b를 사용하여 계산
    return mul_add          # mul_add 함수를 반환 #함수를 반환할 때는 함수 이름만 반환해야 하며 ( )(괄호)를 붙이면 안 됩니다
 
c = calc()
print(c(1), c(2), c(3), c(4), c(5))

8 11 14 17 20

In [ ]:
#클로저에 속한 지역 변수는 바깥에서 직접 접근할 수 없으므로 데이터를 숨기고 싶을 때 활용합니다.
#lambda로 클로저 만들기

def calc():
    a = 3
    b = 5
    return lambda x: a * x + b    # 람다 표현식을 반환
 
c = calc()
print(c(1), c(2), c(3), c(4), c(5))

8 11 14 17 20

In [ ]:
def calc():
    a = 3
    b = 5
    total = 0
    def mul_add(x):
        nonlocal total
        total = total + a * x + b
        print(total)
    return mul_add
 
c = calc()
c(1)
c(2)
c(3)

8
19
33

In [ ]:
def counter():
    i = 0
    def count():
      nonlocal i
      i+=1
      return i               
    return count #(함수를 반환할 때는 함수 이름만 반환해야 하며 ( )(괄호)를 붙이면 안 됩니다).
                       
 
c = counter()
for i in range(10):
    print(c(), end=' ')

1 2 3 4 5 6 7 8 9 10

In [ ]:
def countdown(n):
  n=n+1
  def count():
      nonlocal n
      n-=1
      return n               
  return count

n = int(input())
 
c = countdown(n)
for i in range(n):
    print(c(), end=' ')

10
10 9 8 7 6 5 4 3 2 1

In [ ]:
switch = {
    '+': lambda x, y: x + y,    # 람다 표현식으로 실행할 코드를 작성
    '*': lambda x, y: x * y
    }
 
x = '+'
try:
    print(switch[x](10, 20))    # 딕셔너리에 키를 지정하는 방식
except KeyError:
    print('default')            # 딕셔너리에 키가 없을 때는 기본값

30

In [ ]:
class Person: #클래스이름
  def greeting(self): #메서드(self)
    print("Hello") #코드

In [ ]:
james = Person() #인스턴스 = 클래스()

In [ ]:
james.greeting() #메서드  호출하기 #인스턴스.메서드()

Hello

- 클래스는 객체를 표현하는 문법
- 클래스로 인스턴스를 만든다고 하니
- 사실 인스턴스와 객체는 같은 것을 뜻
- 보통 객체만 지칭할 때는 그냥 객체(object)
- 클래스와 연관지어서 말할 때는 인스턴스(instance)
- 리스트 변수 a, b가 있으면 a, b는 객체
- a와 b는 list 클래스의 인스턴스

In [ ]:
a = list(range(10))
b = list(range(10))

##메서드 안에서 메서드 호출하기
- self.메서드() 형식으로 호출

In [ ]:
class Person:
    def greeting(self):
        print('Hello')
 
    def hello(self):
        self.greeting()    # self.메서드() 형식으로 클래스 안의 메서드를 호출
 
james = Person()
james.hello()    # Hello

Hello

### 특정 클래스의 인스턴스인지 확인하기
- 현재 인스턴스가 특정 클래스의 인스턴스인지 확인할 때는 isinstance 함수를 사용
- 특정 클래스의 인스턴스가 맞으면 True, 아니면 False를 반환

In [ ]:
##isinstance(인스턴스, 클래스)

class Person:
  pass

james=Person()
isinstance(james,Person)

True

In [ ]:
def factorial(n):
    if not isinstance(n, int) or n < 0:    # n이 정수가 아니거나 음수이면 함수를 끝냄
        return None
    if n == 1:
        return 1
    return n * factorial(n - 1)

##속성 사용하기

```
class 클래스이름:
  def __init__(self):
    self.속성=값
```

In [ ]:
class Person:
  def __init__(self): #__init__ 메서드는 james = Person()처럼 클래스에 ( )(괄호)를 붙여서 인스턴스를 만들 때 호출되는 특별한 메서드
    self.hello="안녕하세요" # __init__(initialize)이라는 이름 그대로 인스턴스(객체)를 초기화

  def greeting(self):
    print(self.hello)

james=Person()
james.greeting()

안녕하세요

In [ ]:
james = Person()
james.greeting()    # 안녕하세요.

안녕하세요

## 인스턴스를 만들 때 값 받기


```
class 클래스이름:
    def __init__(self, 매개변수1, 매개변수2):
        self.속성1 = 매개변수1
        self.속성2 = 매개변수2
```

In [ ]:
class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕하세요.'
        self.name = name
        self.age = age
        self.address = address
 
    def greeting(self):
        print('{0} 저는 {1}입니다.'.format(self.hello, self.name))
 
maria = Person('마리아', 20, '서울시 서초구 반포동')
maria.greeting()    # 안녕하세요. 저는 마리아입니다.
 
print('이름:', maria.name)       # 마리아
print('나이:', maria.age)        # 20
print('주소:', maria.address)    # 서울시 서초구 반포동

# 인스턴스 속성: 인스턴스를 통해 접근하는 속성

안녕하세요. 저는 마리아입니다.
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

In [ ]:
#클래스의 위치 인수, 키워드 인수
#클래스로 인스턴스를 만들 때 위치 인수와 키워드 인수를 사용
#인수와 리스트 언패킹을 사용하려면 다음과 같이 *args를 사용

#매개변수에서 값을 가져오려면 args[0]처럼 사용

class Person:
    def __init__(self, *args):
        self.name = args[0]
        self.age = args[1]
        self.address = args[2]
 
maria = Person(*['마리아', 20, '서울시 서초구 반포동'])

In [ ]:
#키워드 인수와 딕셔너리 언패킹을 사용-> **kwargs를 사용
#이때 매개변수에서 값을 가져오려면 kwargs['name']처럼 사용해야 합니다.

class Person:
    def __init__(self, **kwargs):    # 키워드 인수
        self.name = kwargs['name']
        self.age = kwargs['age']
        self.address = kwargs['address']
 
maria1 = Person(name='마리아', age=20, address='서울시 서초구 반포동')
maria2 = Person(**{'name': '마리아', 'age': 20, 'address': '서울시 서초구 반포동'})

In [ ]:
# 인스턴스를 생성한 뒤에 속성 추가하기, 특정 속성만 허용하기
# 지금까지 클래스의 인스턴스 속성은 __init__ 메서드에서 추가한 뒤 사용
# 인스턴스.속성 = 값 형식으로 속성을 계속 추가

In [ ]:
class Person:
  pass

maria=Person()
maria.name="마리아"
maria.name

'마리아'


- 인스턴스는 생성한 뒤에 속성을 추가
```
>>> class Person:
...     def greeting(self):
...         self.hello = '안녕하세요'    # greeting 메서드에서 hello 속성 추가
...
>>> maria = Person()
>>> maria.hello    # 아직 hello 속성이 없음
Traceback (most recent call last):
  File "<pyshell#22>", line 1, in <module>
    maria.hello
AttributeError: 'Person' object has no attribute 'hello'
>>> maria.greeting()    # greeting 메서드를 호출해야
>>> maria.hello         # hello 속성이 생성됨
'안녕하세요'
```

- 인스턴스는 자유롭게 속성을 추가할 수 있지만 특정 속성만 허용하고 다른 속성은 제한하고 싶을 수도 있습니다.
- __slots__에 허용할 속성 이름을 리스트로 넣어주면 됩니다. 


```
>>> class Person:
...     __slots__ = ['name', 'age']    # name, age만 허용(다른 속성은 생성 제한)
...
>>> maria = Person()
>>> maria.name = '마리아'                     # 허용된 속성
>>> maria.age = 20                            # 허용된 속성
>>> maria.address = '서울시 서초구 반포동'    # 허용되지 않은 속성은 추가할 때 에러가 발생함
Traceback (most recent call last):
  File "<pyshell#32>", line 1, in <module>
    maria.address = '서울시 서초구 반포동'
AttributeError: 'Person' object has no attribute 'address'
```

In [ ]:
class Person:
    def __init__(self, name, age, address):
        self.hello = '안녕하세요.'
        self.name = name
        self.age = age
        self.address = address

In [ ]:
maria = Person('마리아', 20, '서울시 서초구 반포동')
maria.name

'마리아'

- 클래스 바깥에서는 접근할 수 없고 클래스 안에서만 사용할 수 있는 비공개 속성(private attribute)

- 비공개 속성은 __속성과 같이 이름이 __(밑줄 두 개)로 시작

In [ ]:
class Person:
    def __init__(self, name, age, address, wallet):
        self.name = name
        self.age = age
        self.address = address
        self.__wallet = wallet    # 변수 앞에 __를 붙여서 비공개 속성으로 만듦
 
maria = Person('마리아', 20, '서울시 서초구 반포동', 10000)
# maria.__wallet -= 10000    # 클래스 바깥에서 비공개 속성에 접근하면 에러가 발생함

In [ ]:
class Person:
    def __init__(self, name, age, address, wallet):
        self.name = name
        self.age = age
        self.address = address
        self.__wallet = wallet    # 변수 앞에 __를 붙여서 비공개 속성으로 만듦
 
    def pay(self, amount):
        self.__wallet -= amount   # 비공개 속성은 클래스 안의 메서드에서만 접근할 수 있음
        print('이제 {0}원 남았네요.'.format(self.__wallet))
 
maria = Person('마리아', 20, '서울시 서초구 반포동', 10000)
maria.pay(3000)

이제 7000원 남았네요.

In [ ]:
def pay(self, amount):
    if amount > self.__wallet:    # 사용하려고 하는 금액보다 지갑에 든 돈이 적을 때
        print('돈이 모자라네...')
        return
    self.__wallet -= amount # 즉, 중요한 값인데 바깥에서 함부로 바꾸면 안될 때 비공개 속성을 주로 사용

# 클래스는 특정 개념을 표현(정의)만 할 뿐 사용을 하려면 인스턴스로 만들어야 한다는 점이 중요
# 속성, 메서드를 사용할 때는 self와 인스턴스를 통해 사용해야 한다는 점

##### 공개 속성과 비공개 속성
- 클래스 바깥에서 접근할 수 있는 속성을 공개 속성(public attribute)이라 부르고, 클래스 안에서만 접근할 수 있는 속성을 비공개 속성(private attribute)

In [ ]:
# __(밑줄 두 개)로 시작하면 클래스 안에서만 호출할 수 있는 비공개 메서드 사용하기

class Person:
    def __greeting(self):
        print('Hello')
 
    def hello(self):
        self.__greeting()    # 클래스 안에서는 비공개 메서드를 호출할 수 있음
 
james = Person()
# james.__greeting()    # 에러: 클래스 바깥에서는 비공개 메서드를 호출할 수 없음

In [ ]:
class Knight:
  def __init__(self,health,mana,armor):
    self.health=health
    self.mana=mana
    self.armor=armor
  
  def slash(self):
    print("베기")
    
 
x = Knight(health=542.4, mana=210.3, armor=38)
print(x.health, x.mana, x.armor)
x.slash()

542.4 210.3 38
베기

In [ ]:
class Annie:
  def __init__(self,health,mana,ability_power):
    self.health=health
    self.mana=mana
    self.ability_power=ability_power
  
  def tibbers(self):
    print("티버: 피해량 ",self.ability_power * 0.65 + 400)
    

health, mana, ability_power = map(float, input().split())
 
x = Annie(health=health, mana=mana, ability_power=ability_power)
x.tibbers()

511.68 334.0 298
티버: 피해량  593.7

### 클래스 속성 사용하기



```
class 클래스이름:
    속성 = 값
```

In [ ]:
class Person:
    bag = []
 
    def put_bag(self, stuff):
        self.bag.append(stuff)
 
james = Person()
james.put_bag('책')
 
maria = Person()
maria.put_bag('열쇠')
 
print(james.bag)
print(maria.bag)


#즉, 클래스 속성은 클래스에 속해 있으며 모든 인스턴스에서 공유합니다.

['책', '열쇠']
['책', '열쇠']

In [ ]:
#클래스.속성

class Person:
    bag = []
 
    def put_bag(self, stuff):
        Person.bag.append(stuff)    # 클래스 이름으로 클래스 속성에 접근

In [ ]:
print(Person.bag)
#파이썬에서는 속성, 메서드 이름을 찾을 때 인스턴스, 클래스 순으로 찾습니다.
#인스턴스와 클래스에서 __dict__ 속성을 출력해보면 현재 인스턴스와 클래스의 속성을 딕셔너리로 확인

[]

In [ ]:
james.__dict__

{}

In [ ]:
Person.__dict__

mappingproxy({'__module__': '__main__',
              'bag': [],
              'put_bag': <function __main__.Person.put_bag(self, stuff)>,
              '__dict__': <attribute '__dict__' of 'Person' objects>,
              '__weakref__': <attribute '__weakref__' of 'Person' objects>,
              '__doc__': None})

In [ ]:
#bag을 인스턴스 속성

class Person:
    def __init__(self): #인스턴스 속성
        self.bag = []
 
    def put_bag(self, stuff):
        self.bag.append(stuff)
 
james = Person()
james.put_bag('책')
 
maria = Person()
maria.put_bag('열쇠')
 
print(james.bag)
print(maria.bag)

#인스턴스 속성은 인스턴스별로 독립되어 있으며 서로 영향을 주지 않습니다.

['책']
['열쇠']

- 클래스 속성: 모든 인스턴스가 공유. 인스턴스 전체가 사용해야 하는 값을 저장할 때 사용
- 인스턴스 속성: 인스턴스별로 독립되어 있음. 각 인스턴스가 값을 따로 저장해야 할 때 사용



```
class 클래스이름:
    __속성 = 값    # 비공개 클래스 속성
```

In [ ]:
class Knight:
    __item_limit = 10    # 비공개 클래스 속성
 
    def print_item_limit(self):
        print(Knight.__item_limit)    # 클래스 안에서만 접근할 수 있음
 
 
x = Knight()
x.print_item_limit()    # 10
 
# print(Knight.__item_limit)    # 클래스 바깥에서는 접근할 수 없음
###공개 클래스 속성은 클래스 바깥으로 드러내고 싶지 않은 값에 사용

10

In [ ]:
#클래스와 메서드의 독스트링 사용

class Person:
    '''사람 클래스입니다.'''
    
    def greeting(self):
        '''인사 메서드입니다.'''
        print('Hello')
 
print(Person.__doc__)             # 사람 클래스입니다.
print(Person.greeting.__doc__)    # 인사 메서드입니다.
 
maria = Person()
print(maria.greeting.__doc__)     # 인사 메서드입니다.

사람 클래스입니다.
인사 메서드입니다.
인사 메서드입니다.

####인스턴스를 통하지 않고 클래스에서 바로 호출할 수 있는 정적 메서드와 클래스 메서드

###정적 메서드

```
class 클래스이름:
    @staticmethod
    def 메서드(매개변수1, 매개변수2):
        코드
```

@staticmethod처럼 앞에 @이 붙은 것을 데코레이터라고 하며 메서드(함수)에 추가 기능을 구현할 때 사용

In [ ]:
class Calc:
    @staticmethod
    def add(a, b):
        print(a + b)
 
    @staticmethod
    def mul(a, b):
        print(a * b)
 
Calc.add(10, 20)    # 클래스에서 바로 메서드 호출
Calc.mul(10, 20)    # 클래스에서 바로 메서드 호출

30
200

###Calc 클래스에서 @staticmethod를 붙여서 add 메서드와 mul 메서드를 만듬

### 클래스.메서드()


```
Calc.add(10, 20)    # 클래스에서 바로 메서드 호출
Calc.mul(10, 20)    # 클래스에서 바로 메서드 호출
```


###정적 메서드는 self를 받지 않으므로 인스턴스 속성에는 접근할 수 없음
###그래서 보통 정적 메서드는 인스턴스 속성, 인스턴스 메서드가 필요 없을 때 사용
###정적 메서드는 인스턴스의 상태를 변화시키지 않는 메서드를 만들 때 사용

In [ ]:
# 파이썬 자료형의 인스턴스 메서드와 정적 메서드

#세트에 요소를 더할 때는 인스턴스 메서드를 사용하고, 합집합을 구할 때는 정적 메서드를 사용하도록 만들어져 있음
a = {1, 2, 3, 4}
a.update({5})    # 인스턴스 메서드
a

set.union({1, 2, 3, 4}, {5})    # 정적(클래스) 메서드

##인스턴스의 내용을 변경해야 할 때는 update와 같이 인스턴스 메서드로 작성하면 되고, 인스턴스 내용과는 상관없이 결과만 구하면 될 때는 set.union과 같이 정적 메서드로 작성하면 됩니다.

{1, 2, 3, 4, 5}

######클래스 메서드
######  @classmethod
###### 클래스 메서드는 첫 번째 매개변수에 cls를 지정해야 합니다(cls는 class에서 따왔습니다).



```
lass 클래스이름:
    @classmethod
    def 메서드(cls, 매개변수1, 매개변수2):
        코드
```

In [ ]:
class Person:
    count = 0    # 클래스 속성
 
    def __init__(self):
        Person.count += 1    # 인스턴스가 만들어질 때
                             # 클래스 속성 count에 1을 더함
 
    @classmethod
    def print_count(cls):
        print('{0}명 생성되었습니다.'.format(cls.count))    # cls로 클래스 속성에 접근
 
james = Person()
maria = Person()
 
Person.print_count()    # 2명 생성되었습니다.

2명 생성되었습니다.

######클래스 메서드는 정적 메서드처럼 인스턴스 없이 호출할 수 있음
######하지만 클래스 메서드는 메서드 안에서 클래스 속성,
###### 클래스 메서드에 접근해야 할 때 사용



```
@classmethod
    def create(cls):
        p = cls()    # cls()로 인스턴스 생성
        return p
```

In [ ]:
class Date:
                                                                
  @staticmethod
  def is_date_valid(date_string):
    year,month,day=map(int,date_string.split("-"))
    return month <=12 and day <=31                                                                
 
if Date.is_date_valid('2000-10-31'):
    print('올바른 날짜 형식입니다.')
else:
    print('잘못된 날짜 형식입니다.')

올바른 날짜 형식입니다.

In [ ]:
class Time:
    def __init__(self, hour, minute, second):
        self.hour = hour
        self.minute = minute
        self.second = second
 
    @staticmethod
    def is_time_valid(time_string):
      return int(time_string.split(":")[0])<=24 and int(time_string.split(":")[1])<=59 and int(time_string.split(':')[2])<=60


    @classmethod
    def from_string(cls,time_string):
      hour,minute,second=map(int,time_string.split(":"))
      time=cls(hour,minute,second)
      return time

time_string = input()
 
if Time.is_time_valid(time_string):
    t = Time.from_string(time_string)
    print(t.hour, t.minute, t.second)
else:
    print('잘못된 시간 형식입니다.')

12:52:45
12 52 45

#######클래스 상속 사용하기
######클래스 상속(inheritance)을 사용 

#####클래스 상속은 다음과 같이 클래스를 만들 때 ( )(괄호)를 붙이고 안에 기반 클래스 이름을 넣습니다



```
class 기반클래스이름:
    코드
 
class 파생클래스이름(기반클래스이름):
    코드
```

In [ ]:
class Person:
    def greeting(self):
        print('안녕하세요.')
 
class Student(Person):  #파생 클래스
    def study(self):
        print('공부하기')
 
james = Student()
james.greeting()    # 안녕하세요.: 기반 클래스 Person의 메서드 호출
james.study()       # 공부하기: 파생 클래스 Student에 추가한 study 메서드

안녕하세요.
공부하기

#상속 관계 확인하기
- 클래스의 상속 관계를 확인하고 싶을 때는 issubclass 함수를 사용
- 클래스가 기반 클래스의 파생 클래스인지 확인
- 기반 클래스의 파생 클래스가 맞으면 True, 아니면 False를 반환



```
issubclass(파생클래스, 기반클래스)
```

In [ ]:
issubclass(Student,Person)

True

In [ ]:
class Person:
    def greeting(self):
        print('안녕하세요.')
 
class Student(Person):
    def study(self):
        print('공부하기')

In [ ]:
#포함관계
##학생 클래스가 아니라 사람목록을 관리하는 클래스를 만든다는데, 같이 리스트 속성에 Person 인스턴스를 넣어서 관리

class Person:
    def greeting(self):
        print('안녕하세요.')
 
class PersonList:
    def __init__(self):
        self.person_list = []    # 리스트 속성에 Person 인스턴스를 넣어서 관리
 
    def append_person(self, person):    # 리스트 속성에 Person 인스턴스를 추가하는 함수
        self.person_list.append(person)

In [ ]:
class Person:
    def __init__(self):
        print('Person __init__')
        self.hello = '안녕하세요.'
 
class Student(Person):
    def __init__(self):
        print('Student __init__')
        self.school = '파이썬 코딩 도장'
 
james = Student()
print(james.school)
# print(james.hello)    # 기반 클래스의 속성을 출력하려고 하면 에러가 발생함

Student __init__
파이썬 코딩 도장

In [ ]:
#super()로 기반 클래스 초기화 하기
# super().메서드

class Person:
  def __init__(self):
    print("Person__init__")
    self.hello="안녕하세요"

class Student(Person):
    def __init__(self):
        print('Student __init__')
        super().__init__()                # super()로 기반 클래스의 __init__ 메서드 호출
        self.school = '파이썬 코딩 도장'
 
james = Student()
print(james.school)
print(james.hello)

Student __init__
Person__init__
파이썬 코딩 도장
안녕하세요

In [ ]:
#기반 클래스를 초기화하지 않아도 되는 경우
### 만약 파생 클래스에서 __init__ 메서드를 생략한다면 기반 클래스의 __init__이 자동으로 호출되므로 super()는 사용하지 않음

class Person:
    def __init__(self):
        print('Person __init__')
        self.hello = '안녕하세요.'
 
class Student(Person):
    pass
 
james = Student()
print(james.hello)

Person __init__
안녕하세요.

In [ ]:
#명확하게 super 사용하기
#super는 다음과 같이 파생 클래스와 self를 넣어서 현재 클래스가 어떤 클래스인지 명확하게 표시하는 방법도 있습니다. 
#물론 super()와 기능은 같음

##super(파생클래스, self).메서드##

class Student(Person):
    def __init__(self):
        print('Student __init__')
        super(Student, self).__init__()     # super(파생클래스, self)로 기반 클래스의 메서드 호출
        self.school = '파이썬 코딩 도장'

##이어서

In [ ]:
#파생 클래스에서 기반 클래스의 메서드를 새로 정의하는 메서드 오버라이딩
#오버라이딩(overriding)은 무시하다, 우선하다라는 뜻을 가지고 있는데 말 그대로 기반 클래스의 메서드를 무시하고 새로운 메서드를 만든다는 뜻
class Person:
    def greeting(self):
        print('안녕하세요.')
 
class Student(Person):
    def greeting(self):
        print('안녕하세요. 저는 파이썬 코딩 도장 학생입니다.')
 
james = Student()
james.greeting()

안녕하세요. 저는 파이썬 코딩 도장 학생입니다.

In [ ]:
#기반 클래스의 메서드를 재활용하면 중복을 줄일 수 있습니다

def greeting(self):
    print('안녕하세요.')
 
class Student(Person):
    def greeting(self):
        super().greeting()    # 기반 클래스의 메서드 호출하여 중복을 줄임
        print('저는 파이썬 코딩 도장 학생입니다.')
 
james = Student()
james.greeting()

안녕하세요.
저는 파이썬 코딩 도장 학생입니다.

다중 상속은 여러 기반 클래스로부터 상속을 받아서 파생 클래스를 만드는 방법



```
class 기반클래스이름1:
    코드
 
class 기반클래스이름2:
    코드
 
class 파생클래스이름(기반클래스이름1, 기반클래스이름2):
    코드
```

In [ ]:
class Person:
    def greeting(self):
        print('안녕하세요.')
 
class University:
    def manage_credit(self):
        print('학점 관리')
 
class Undergraduate(Person, University):
    def study(self):
        print('공부하기')
 
james = Undergraduate()
james.greeting()         # 안녕하세요.: 기반 클래스 Person의 메서드 호출
james.manage_credit()    # 학점 관리: 기반 클래스 University의 메서드 호출
james.study()            # 공부하기: 파생 클래스 Undergraduate에 추가한 study 메서드

안녕하세요.
학점 관리
공부하기

In [ ]:
##다이아몬드 상속
class A:
    def greeting(self):
        print('안녕하세요. A입니다.')
 
class B(A):
    def greeting(self):
        print('안녕하세요. B입니다.')
 
class C(A):
    def greeting(self):
        print('안녕하세요. C입니다.')
 
class D(B, C):
    pass
 
x = D()
x.greeting()    # 안녕하세요. B입니다.

안녕하세요. B입니다.

In [ ]:
##파이썬에서는 메서드 탐색 순서(Method Resolution Order, MRO)를 따름
#클래스 D에 메서드 mro를 사용해보면 메서드 탐색 순서가 나옵니다(클래스.__mro__ 형식도 같은 내용)
## 클래스.mro()

D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [ ]:
x = D()
x.greeting()    # 안녕하세요. B입니다.

안녕하세요. B입니다.

In [ ]:
int.mro()

[int, object]

### 추상 클래스(abstract class)
- 메서드의 목록만 가진 클래스이며 상속받는 클래스에서 메서드 구현을 강제하기 위해 사용

- import로 abc 모듈을 가져와야 합니다( abc는 abstract base class의 약자입니다).

- 클래스의 ( )(괄호) 안에 metaclass=ABCMeta를 지정하고, 메서드를 만들 때 위에 @abstractmethod를 붙여서 추상 메서드로 지정



```
from abc import *
 
class 추상클래스이름(metaclass=ABCMeta):
    @abstractmethod
    def 메서드이름(self):
        코드
```
####import abc로 모듈을 가져왔다면 abc.ABCMeta, @abc.abstractmethod로 사용

In [ ]:
from abc import *
 
class StudentBase(metaclass=ABCMeta):
    @abstractmethod
    def study(self):
        pass
 
    @abstractmethod
    def go_to_school(self):
        pass
 
class Student(StudentBase):
    def study(self):
        print('공부하기')
 
    def go_to_school(self):
        print('학교가기')
 
james = Student()
james.study()
james.go_to_school()

공부하기
학교가기

###추상 메서드를 빈 메서드로 만드는 이유
###추상 클래스는 인스턴스로 만들 수가 없다는 점##

```
    @abstractmethod
    def study(self):
        pass    # 추상 메서드는 호출할 일이 없으므로 빈 메서드로 만듦
 
    @abstractmethod
    def go_to_school(self):
        pass    # 추상 메서드는 호출할 일이 없으므로 빈 메서드로 만듦
```

In [ ]:
class AdvancedList(list):
    def replace(self, old, new):
        while old in self:
            self[self.index(old)] = new
                         
x = AdvancedList([1, 2, 3, 1, 2, 3, 1, 2, 3])
x.replace(1, 100)
print(x)

[100, 2, 3, 100, 2, 3, 100, 2, 3]

In [ ]:
class Animal:
    def eat(self):
        print('먹다')
 
class Wing:
    def flap(self):
        print('파닥거리다')

class Bird(Animal,Wing):
    def fly(self):
        print("날다")

b = Bird()
b.eat()
b.flap()
b.fly()
print(issubclass(Bird, Animal))
print(issubclass(Bird, Wing))

먹다
파닥거리다
날다
True
True

### 두 점 사이의 거리 구하기
- 2차원 평면에서 위치를 표현 한 뒤 두 점 사이의 거리를 구한다

- 먼저 클래스로 점을 구현 해본다


```
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
```

In [ ]:
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
 
p1 = Point2D(x=30, y=20)    # 점1
p2 = Point2D(x=60, y=50)    # 점2
 
print('p1: {} {}'.format(p1.x, p1.y))    # 30 20
print('p2: {} {}'.format(p2.x, p2.y))    # 60 50

p1: 30 20
p2: 60 50

####피타고라스의 정리 두 점의 거리 구하기
- a2 + b2 = c2

In [ ]:
a = p2.x - p1.x    # 선 a의 길이
b = p2.y - p1.y    # 선 b의 길이

In [ ]:
import math
 
class Point2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y
 
p1 = Point2D(x=30, y=20)    # 점1
p2 = Point2D(x=60, y=50)    # 점2
 
a = p2.x - p1.x    # 선 a의 길이
b = p2.y - p1.y    # 선 b의 길이
 
c = math.sqrt((a * a) + (b * b))    # (a * a) + (b * b)의 제곱근을 구함
print(c)    # 42.42640687119285

42.42640687119285

In [ ]:
c = math.sqrt(math.pow(a, 2) + math.pow(b, 2))

In [ ]:
c = math.sqrt((a ** 2) + (b ** 2))

In [ ]:
a = p1.x - p2.x    # 선 a의 길이
b = p1.y - p2.y    # 선 b의 길이

In [ ]:
#절댓값 함수
#내장 함수 abs 또는 math 모듈의 fabs 함수를 사용하면 양수 또는 음수를 절댓값(absolute value)으로 만들 수 있음
##abs(값)
##정수는 절댓값을 정수로 반환, 실수는 절댓값을 실수로 반환
##math.fabs(값)
##절댓값을 실수로 반환

##namedtuple 사용하기

 요소에 이름을 지정해 줄 수 있는 튜플인 namedtuple을 제공합니다( collections 모듈). namedtuple은 자료형 이름과 요소의 이름을 지정하면 클래스를 생성해줍니다. 여기서 자료형 이름은 문자열, 요소의 이름은 문자열 리스트로 넣어줍니다.

클래스 = collections.namedtuple('자료형이름', ['요소이름1', '요소이름2'])

- namedtuple로 생성한 클래스는 값을 넣어서 인스턴스를 만들 수 있으며 인스턴스.요소이름 또는 인스턴스[인덱스] 형식으로 요소에 접근할 수 있습니다.


인스턴스 = 클래스(값1, 값2)

인스턴스 = 클래스(요소이름1=값1, 요소이름2=값2)

인스턴스.요소이름1

인스턴스[인덱스]

In [ ]:
import math
import collections
 
Point2D = collections.namedtuple('Point2D', ['x', 'y'])    # namedtuple로 점 표현
 
p1 = Point2D(x=30, y=20)    # 점1
p2 = Point2D(x=60, y=50)    # 점2
 
a = p1.x - p2.x    # 선 a의 길이
b = p1.y - p2.y    # 선 b의 길이
 
c = math.sqrt((a * a) + (b * b))
print(c)    # 42.42640687119285

42.42640687119285

- sqrt 함수에 값을 넣으면 해당 값의 제곱근을 구해줍니다. 
- 여기서는 a의 제곱과 b의 제곱의 합을 (a * a) + (b * b)처럼 표현했는데 거듭제곱(power)을 구하는 pow 함수를 사용

- math.pow(값, 지수)

In [ ]:
class Rectangle:
    def __init__(self, x1, y1, x2, y2):
        self.x1 = x1
        self.y1 = y1
        self.x2 = x2
        self.y2 = y2
 
rect = Rectangle(x1=20, y1=20, x2=40, y2=30)
 
width=abs(rect.x2-rect.x1)
height=abs(rect.y2-rect.y1)
area=width*height                             
print(area)

200

In [ ]:
import math

class Point2D:
  def __init__(self,x=0,y=0):
    self.x=x
    self.y=y

length=0.0
p=[Point2D(),Point2D(),Point2D(),Point2D]
p[0].x, p[0].y, p[1].x, p[1].y, p[2].x, p[2].y, p[3].x, p[3].y = map(int, input().split())

for i in range(3):
  length+=math.sqrt((p[i+1].x-p[i].x)**2+(p[i+1].y - p[i].y)**2)
  

print(length)

 100 100 200 200 300 300 400 400
424.26406871192853

In [ ]:
#예외 처리 사용하기
def ten_div(x):
  return 10/x

In [ ]:
ten_div(2)

5.0

In [ ]:
#ten_div(0)



```
try:
    실행할 코드
except:
    예외가 발생했을 때 처리하는 코드
```

In [ ]:
try:
    x = int(input('나눌 숫자를 입력하세요: '))
    y = 10 / x
    print(y)
except:    # 예외가 발생했을 때 실행됨
    print('예외가 발생했습니다.')

나눌 숫자를 입력하세요: 0
예외가 발생했습니다.

- 예외의 에러 메시지 받아오기


```
try:
    실행할 코드
except 예외 as 변수:
    예외가 발생했을 때 처리하는 코드

```

In [ ]:
y = [10, 20, 30]
 
try:
    index, x = map(int, input('인덱스와 나눌 숫자를 입력하세요: ').split())
    print(y[index] / x)
except ZeroDivisionError as e:                    # as 뒤에 변수를 지정하면 에러를 받아옴
    print('숫자를 0으로 나눌 수 없습니다.', e)    # e에 저장된 에러 메시지 출력
except IndexError as e:
    print('잘못된 인덱스입니다.', e)

인덱스와 나눌 숫자를 입력하세요: 2 0
숫자를 0으로 나눌 수 없습니다. division by zero



```
except Exception as e:    # 모든 예외의 에러 메시지를 출력할 때는 Exception을 사용
    print('예외가 발생했습니다.', e)
```

- 이번에는 예외가 발생하지 않았을 때 코드를 실행하는 else를 사용해보겠습니다. 다음과 같이 else는 except 바로 다음에 와야 하며 except를 생략할 수 없습니다.



```
try:
    실행할 코드
except:
    예외가 발생했을 때 처리하는 코드
else:
    예외가 발생하지 않았을 때 실행할 코드
finally:
    예외 발생 여부와 상관없이 항상 실행할 코드
```

In [ ]:

try:
    x = int(input('나눌 숫자를 입력하세요: '))
    y = 10 / x
except ZeroDivisionError:    # 숫자를 0으로 나눠서 에러가 발생했을 때 실행됨
    print('숫자를 0으로 나눌 수 없습니다.')
else:                        # try의 코드에서 예외가 발생하지 않았을 때 실행됨
    print(y)
finally:                     # 예외 발생 여부와 상관없이 항상 실행됨
    print('코드 실행이 끝났습니다.')

나눌 숫자를 입력하세요: 3
3.3333333333333335
코드 실행이 끝났습니다.

In [ ]:
try:
    x = int(input('3의 배수를 입력하세요: '))
    if x % 3 != 0:                                 # x가 3의 배수가 아니면
        raise Exception('3의 배수가 아닙니다.')    # 예외를 발생시킴
    print(x)
except Exception as e:                             # 예외가 발생했을 때 실행됨
    print('예외가 발생했습니다.', e)


# raise 예외('에러메시지')

3의 배수를 입력하세요: 9
9

In [ ]:
def three_multiple():
    x = int(input('3의 배수를 입력하세요: '))
    if x % 3 != 0:                                 # x가 3의 배수가 아니면
        raise Exception('3의 배수가 아닙니다.')    # 예외를 발생시킴
    print(x)                                       # 현재 함수 안에는 except가 없으므로
                                                   # 예외를 상위 코드 블록으로 넘김
 
try:
    three_multiple()
except Exception as e:                             # 하위 코드 블록에서 예외가 발생해도 실행됨
    print('예외가 발생했습니다.', e)

3의 배수를 입력하세요: 5
예외가 발생했습니다. 3의 배수가 아닙니다.

In [ ]:
# three_multiple()

In [ ]:
#현재 예외를 다시 발생시키기
#try except에서 처리한 예외를 다시 발생시키는 방법
#except 안에서 raise를 사용하면 현재 예외를 다시 발생시킵니다(re-raise)

def three_multiple():
    try:
        x = int(input('3의 배수를 입력하세요: '))
        if x % 3 != 0:                                 # x가 3의 배수가 아니면
            raise Exception('3의 배수가 아닙니다.')    # 예외를 발생시킴
        print(x)
    except Exception as e:                             # 함수 안에서 예외를 처리함
        print('three_multiple 함수에서 예외가 발생했습니다.', e)
        raise    # raise로 현재 예외를 다시 발생시켜서 상위 코드 블록으로 넘김
 
try:
    three_multiple()
except Exception as e:                                 # 하위 코드 블록에서 예외가 발생해도 실행됨
    print('스크립트 파일에서 예외가 발생했습니다.', e)

3의 배수를 입력하세요: 5
three_multiple 함수에서 예외가 발생했습니다. 3의 배수가 아닙니다.
스크립트 파일에서 예외가 발생했습니다. 3의 배수가 아닙니다.

In [ ]:
x = int(input('3의 배수를 입력하세요: '))
assert x % 3 == 0, '3의 배수가 아닙니다.'    # 3의 배수가 아니면 예외 발생, 3의 배수이면 그냥 넘어감
print(x)

3의 배수를 입력하세요: 5

AssertionError: ignored


- 예외를 직접 만들어서 발생
```
class 예외이름(Exception):
    def __init__(self):
        super().__init__('에러메시지')
```

In [ ]:
class NotThreeMultipleError(Exception):    # Exception을 상속받아서 새로운 예외를 만듦
    def __init__(self):
        super().__init__('3의 배수가 아닙니다.')
 
def three_multiple():
    try:
        x = int(input('3의 배수를 입력하세요: '))
        if x % 3 != 0:                     # x가 3의 배수가 아니면
            raise NotThreeMultipleError    # NotThreeMultipleError 예외를 발생시킴
        print(x)
    except Exception as e:
        print('예외가 발생했습니다.', e)
 
three_multiple()

3의 배수를 입력하세요: 5
예외가 발생했습니다. 3의 배수가 아닙니다.

In [ ]:
#파일 예외 처리하기
try:  
    file = open('maria.txt', 'r')
except:                          
    print('파일이 없습니다.')
else:     
    s = file.read()
    file.close()

파일이 없습니다.

In [ ]:
class NotPalindromeError(Exception):
  def __init__(self):
    super().__init__("회문이 아닙니다.")

def palindrome(word):
  if word != word[::-1]:
    raise NotPalindromeError
  print(word)

try:
    word = input()
    palindrome(word)
except NotPalindromeError as e:
    print(e)

rose
회문이 아닙니다

#### 이터레이터 사용하기
이터레이터(iterator)는 값을 차례대로 꺼낼 수 있는 객체 (object)

In [ ]:
#반복 가능한 객체 알아보기
dir([1, 2, 3])

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
[1, 2, 3].__iter__()

In [ ]:
it = [1, 2, 3].__iter__()

In [ ]:
# it.__next__()

In [ ]:
it='Hello, world!'.__iter__()

In [ ]:
it.__next__()

'o'

In [ ]:
it={'a': 1, 'b': 2}.__iter__()
it.__next__()

'a'

In [ ]:
it={1, 2, 3}.__iter__()
it.__next__()

1

###시퀀스 객체와 반복 가능한 객체의 차이
- 리스트, 튜플, range, 문자열은 반복 가능한 객체이면서 시퀀스 객체
-  딕셔너리와 세트는 반복 가능한 객체이지만 시퀀스 객체는 아님
- 시퀀스 객체는 요소의 순서가 정해져 있고 연속적(sequence)으로 이어져 있어야 하는데, 딕셔너리와 세트는 요소(키)의 순서가 정해져 있지 않기 때문
![Screen Shot 2022-09-11 at 18.24.40 PM.png]()

####__iter__, __next__ 메서드를 구현해서 직접 이터레이터를 만들어봄
####간단하게 range(횟수)처럼 동작하는 이터레이터



```
class 이터레이터이름:
    def __iter__(self):
        코드
 
    def __next__(self):
        코드

```

In [ ]:
class Counter:
    def __init__(self, stop):
        self.current = 0    # 현재 숫자 유지, 0부터 지정된 숫자 직전까지 반복
        self.stop = stop    # 반복을 끝낼 숫자
 
    def __iter__(self):
        return self         # 현재 인스턴스를 반환
 
    def __next__(self):
        if self.current < self.stop:    # 현재 숫자가 반복을 끝낼 숫자보다 작을 때
            r = self.current            # 반환할 숫자를 변수에 저장
            self.current += 1           # 현재 숫자를 1 증가시킴
            return r                    # 숫자를 반환
        else:                           # 현재 숫자가 반복을 끝낼 숫자보다 크거나 같을 때
            raise StopIteration         # 예외 발생
 
for i in Counter(3):
    print(i, end=' ')

0 1 2

In [ ]:
## 이터레이터 언패킹
# 이터레이터는 언패킹(unpacking)이 가능
# 즉, 다음과 같이 Counter()의 결과를 변수 여러 개에 할당할 수 있음. 
# 물론 이터레이터가 반복하는 횟수와 변수의 개수는 같아야 함.

a, b, c = Counter(3)
print(a,b,c)
a, b, c, d, e = Counter(5)
print(a, b, c, d, e)

0 1 2
0 1 2 3 4

In [ ]:
### 반환값을 _에 저장하는 이유
# map도 이터레이터
# a, b, c = map(int, input().split())처럼 언패킹으로 변수 여러 개에 값을 할당할 수 있음
_,b=range(2)
b

1

In [ ]:
#언패킹했을 때 _에 할당하는 것은 특정 순서의 반환값 사용하지 않고 무시하겠다는 관례적 표현
#다음과 같은 코드는 언패킹 했을 때 두 번째 변수는 사용하지 않겠다는 뜻
a, _, c, d =  range(4)
a, c, d

(0, 2, 3)

##### __getitem__ 메서드를 구현하여 인덱스로 접근할 수 있는 이터레이터를 만들어보겠음
##### 앞에서 만든 Counter 이터레이터를 인덱스로 접근할 수 있도록 다시 만듬

```
class 이터레이터이름:
    def __getitem__(self, 인덱스):
        코드
```

In [ ]:
class Counter:
    def __init__(self, stop):
        self.stop = stop  #반복을 끝낼 숫자
 
    def __getitem__(self, index): #인덱스로 접근할 수 있는 이터레이터(__getitem 메서드)
        if index < self.stop: #인덱스가 반복을 끝낼 숫자보다 작을 때
            return index #인덱스를 반환
        else:     # 인덱스가 반복을 끝낼 숫자보다 크거나 같을 때
            raise IndexError #예외발생
 
print(Counter(3)[0], Counter(3)[1], Counter(3)[2])
 
for i in Counter(3):
    print(i, end=' ')


#클래스에서 __getitem__만 구현해도 이터레이터가 되며 __iter__, __next__는 생략해도 됩니다(초깃값이 없다면 __init__도 생략 가능)

0 1 2
0 1 2

In [ ]:
#39.4 iter,next 함수 활용하기
# iter는 객체의 __iter__ 메서드를 호출해주고, next는 객체의 __next__메서드를 호출

it = iter(range(3))
next(it)

0

In [ ]:
next(it)

2

##### iter는 반복을 끝낼 값을 지정하면 특정 값이 나올 때 반복을 끝냄
##### 반복 가능한 객체 대신 호출 가능한 객체(callable)를 넣어줌
##### 반복을 끝낸다고 해서 sentinel
##### 반복을 감시하다가 특정 값이 나오면 반복을 끝

**iter(호출가능한 객체,반복을끝낼값)**

##### random.randint(0,5)와 같이 0부터 5까지 무작위로 숫자를 생성할 때 2가 나오면 반복을 끝내도록 만들 수있습니다. 

##### 이때 호출 가능한 객체를 넣어야 하므로 매개변수가 없는 함수 또는 람다 표현식으로 만들어줌

In [ ]:
import random
it=iter(lambda:random.randint(0,5),2) #next(it)로 숫자를 계속 만들다가 2가 나오면 StopIteration이 발생
next(it)

3

In [ ]:
import random
for i in iter(lambda:random.randint(0,5),2):
  print(i,end=" ")

1 5 3 4 4 3 3 4 4 1 1

In [ ]:
import random

while True:
  i=random.randint(0,5)
  if i==2:
    break
  print(i,end=" ")

4 4 5 1 0 5

In [ ]:
# next
## next는 기본값을 지정할 수 있음
## 기본값을 지정하면 반복이 끝나더라도 next(it)로 숫자를 계속 만들다가 2가 나오면 StopIteration이 발생
## 반복할 수 있을 때는 해당 값을 출력하고, 반복이 끝났을 때는 기본값을 출력
it = iter(range(3))
next(it, 10)

0

In [ ]:
next(it, 10)
#0, 1, 2까지 나온 뒤에도 next(it, 10)을 호출하면 예외가 발생하지 않고 계속 10이 나옴

10

In [ ]:
#이터레이터를 만들 때, __iter__,__next__ 메서드 또는 __getitem__메서드를 구현해야한다는 점

In [ ]:
### 배수 이터레이터 만들기

class MultipleIterator:
    def __init__(self, stop, multiple):
        self.stop=stop #반복을 끌낼 숫자
        self.multiple=multiple  #배수를 구할 숫자                      
        self.current=0 #몇번 반복했는지 저장해야하므로
                                 
    def __iter__(self): # 현재 인스턴스를 반환
        return self
 
    def __next__(self): #배수를 구합니다
        self.current+=1                                            
        if self.current*self.multiple<self.stop:
          return self.current*self.multiple
        else:
          raise StopIteration
                                                     
 
for i in MultipleIterator(20, 3):
    print(i, end=' ')
 
print()
for i in MultipleIterator(30, 5):
    print(i, end=' ')

3 6 9 12 15 18
5 10 15 20 25

In [7]:
##표준입력으로 정수 세 개가 입력

class TimeIterator:
    def __init__(self, start, stop):
        self.start = start
        self.stop = stop

    def __getitem__(self, index):
        if index < self.stop - self.start:
            tot_sec = self.start + index
            hour = tot_sec // (60*60) # 3600 으로 나누면 시간
            tot_sec %= 60*60
            minute = tot_sec // 60 # 60으로 나누면 분
            tot_sec %= 60
            return "%02d:%02d:%02d"%(hour % 24, minute, tot_sec)
        else:
            raise IndexError



start, stop, index = map(int, input().split())
 
for i in TimeIterator(start, stop):
    print(i)
 
print('\n', TimeIterator(start, stop)[index], sep='')

KeyboardInterrupt: ignored

#### 제너레이터와 yield 알아보기
- 함수 안에서 yield를 사용하면 함수는 제너레이터가 되며 yield에는 값(변수)을 지정


```
def number_generator():
    yield 0
    yield 1
    yield 2
 
for i in number_generator():
    print(i)
```

- yield를 사용하면 값을 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보

In [8]:
def number_generator():
    yield 0    # 0을 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보
    yield 1    # 1을 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보
    yield 2    # 2를 함수 바깥으로 전달하면서 코드 실행을 함수 바깥에 양보
 
g = number_generator()
 
a = next(g)    # yield를 사용하여 함수 바깥으로 전달한 값은 next의 반환값으로 나옴
print(a)       # 0
 
b = next(g)
print(b)       # 1
 
c = next(g)
print(c)       # 2

0
1
2

In [10]:
def one_generator():
    yield 1
    return 'return에 지정한 값'
 
try:
    g = one_generator()
    next(g)
    next(g)
except StopIteration as e:
    print(e)    # return에 지정한 값


#제너레이터와 return
#제너레이터는 함수 끝까지 도달하면 StopIteration 예외가 발생
#마찬가지로 return도 함수를 끝내므로 return을 사용해서 함수 중간에 빠져나오면 StopIteration 예외가 발생합니다.
#특히 제너레이터 안에서 return에 반환값을 지정하면 StopIteration 예외의 에러 메시지로 들어갑니다.

return에 지정한 값

In [11]:
def number_generator(stop):
    n = 0              # 숫자는 0부터 시작
    while n < stop:    # 현재 숫자가 반복을 끝낼 숫자보다 작을 때 반복
        yield n        # 현재 숫자를 바깥으로 전달
        n += 1         # 현재 숫자를 증가시킴
 
for i in number_generator(3):
    print(i)

0
1
2

In [13]:
g = number_generator(3)

In [16]:
next(g)

2

In [17]:
def upper_generator(x):
    for i in x:
        yield i.upper()    # 함수의 반환값을 바깥으로 전달
 
fruits = ['apple', 'pear', 'grape', 'pineapple', 'orange']
for i in upper_generator(fruits):
    print(i)

APPLE
PEAR
GRAPE
PINEAPPLE
ORANGE

In [18]:
def number_generator():
    x = [1, 2, 3]
    for i in x:
        yield i
 
for i in number_generator():
    print(i)

1
2
3

- yield from 반복가능한객체
- yield from 이터레이터
- yield from 제너레이터객체

In [19]:
def number_generator():
    x = [1, 2, 3]
    yield from x    # 리스트에 들어있는 요소를 한 개씩 바깥으로 전달
 
for i in number_generator():
    print(i)

1
2
3

In [20]:
def number_generator(stop):
    n = 0
    while n < stop:
        yield n
        n += 1
 
def three_generator():
    yield from number_generator(3)    # 숫자를 세 번 바깥으로 전달
 
for i in three_generator():
    print(i)

0
1
2

- 제네레이터 표현식
**(식 for 변수 in 반복가능한객체)**

```
(i for i in range(50) if i % 2 == 0)
```

In [22]:
def file_read():
    with open('words.txt') as file:
      while True:
        line=file.readline()
        if line =="":
          break
        yield line.strip("\n")
                                   
 
for i in file_read():
    print(i)

compatibility
experience
photography
spotlight

In [28]:
def prime_number_generator(start, stop):
  for n in range(start, stop):
    is_prime = True
    for i in range(2, int(n)): 
      if n % i == 0:
        is_prime = False
        break
    if is_prime == True:
      yield n



start, stop = map(int, input().split())
 
g = prime_number_generator(start, stop)
print(type(g))
for i in g:
    print(i, end=' ')

50 100
<class 'generator'>
53 59 61 67 71 73 79 83 89 97

In [30]:
#코루틴 사용하기

def add(a, b):
    c = a + b    # add 함수가 끝나면 변수와 계산식은 사라짐
    print(c)
    print('add 함수')
 
def calc():
    add(1, 2)    # add 함수가 끝나면 다시 calc 함수로 돌아옴
    print('calc 함수')
 
calc()

3
add 함수
calc 함수

In [31]:
 #제너레이터는 yield로 값을 발생
#코루틴객체.send(값)
#변수 = (yield)

def number_coroutine():
    while True:        # 코루틴을 계속 유지하기 위해 무한 루프 사용
        x = (yield)    # 코루틴 바깥에서 값을 받아옴, yield를 괄호로 묶어야 함
        print(x)
 
co = number_coroutine()
next(co)      # 코루틴 안의 yield까지 코드 실행(최초 실행)
 
co.send(1)    # 코루틴에 숫자 1을 보냄
co.send(2)    # 코루틴에 숫자 2을 보냄
co.send(3)    # 코루틴에 숫자 3을 보냄

1
2
3

- send로 코루틴의 코드를 최초로 실행하기
지금까지 코루틴의 코드를 최초로 실행할 때 next 함수(__next__ 메서드)를 사용했지만, 코루틴객체.send(None)과 같이 send 메서드에 None을 지정해도 코루틴의 코드를 최초로 실행할 수 있습니다.

- 변수 = (yield 변수)
- 변수 = next(코루틴객체)
- 변수 = 코루틴객체.send(값)

In [33]:
# coroutine_producer_consumer.py
def sum_coroutine():
    total = 0
    while True:
        x = (yield total)    # 코루틴 바깥에서 값을 받아오면서 바깥으로 값을 전달
        total += x
 
co = sum_coroutine()
print(next(co))      # 0: 코루틴 안의 yield까지 코드를 실행하고 코루틴에서 나온 값 출력
 
print(co.send(1))    # 1: 코루틴에 숫자 1을 보내고 코루틴에서 나온 값 출력
print(co.send(2))    # 3: 코루틴에 숫자 2를 보내고 코루틴에서 나온 값 출력
print(co.send(3))    # 6: 코루틴에 숫자 3을 보내고 코루틴에서 나온 값 출력

0
1
3
6

In [34]:
def number_coroutine():
    while True:
        x = (yield)
        print(x, end=' ')
 
co = number_coroutine()
next(co)
 
for i in range(20):
    co.send(i)
 
co.close()    # 코루틴 종료

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [35]:
def number_coroutine():
    try:
        while True:
            x = (yield)
            print(x, end=' ')
    except GeneratorExit:    # 코루틴이 종료 될 때 GeneratorExit 예외 발생
        print()
        print('코루틴 종료')
 
co = number_coroutine()
next(co)
 
for i in range(20):
    co.send(i)
 
co.close()

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
코루틴 종료

In [36]:
#코루틴객체.throw(예외이름, 에러메시지)
def sum_coroutine():
    try:
        total = 0
        while True:
            x = (yield)
            total += x
    except RuntimeError as e:
        print(e)
        yield total    # 코루틴 바깥으로 값 전달
 
co = sum_coroutine()
next(co)
 
for i in range(20):
    co.send(i)
 
print(co.throw(RuntimeError, '예외로 코루틴 끝내기')) # 190
                                                      # 코루틴의 except에서 yield로 전달받은 값

예외로 코루틴 끝내기
190

Unit 41.3