<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/csv%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#코랩에서 한글사용하기
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20170925-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-460
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 10 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [ ]:
# 런타임 재시작
import os
os.kill(os.getpid(), 9)

In [ ]:
from google.colab import files
files.upload()

In [1]:
import csv
import time

In [2]:
strt=time.time()

f=open("seoul_weather.csv",encoding="cp949")
data=csv.reader(f)
header=next(data)
print(header,"\n")


# "최고기온" 중 가장 높은 온도값/해당 온도의 "일시"를 출력
# 일자별 최고 온도 찾기 = > 이 온도의 날짜 가져오기

max_temp=-999 # 최고 온도를 계산하기 위한 변수(최초 -999 부여)
max_date="" # 최고 온도를 찾았을때 날짜를 저장할 변수

for row in data:
  # row 값 => ['서울', '1907-10-01', '13.5', '7.9', '20.7']
  try:
    row[-1]=float(row[-1]) # row의 마지막 데이터(최고기온)의 dtype => 실수형으로 변경
    if max_temp<row[-1]:  # 현재 최고온도가 기본 최고온도보다 높다면 기본온도 변경
      max_temp=row[-1]
      max_date = row[1]
  except:
    continue
    # row[-1] = -999
    #print(f"row[-1]에 입력된 값:{row[-1]}입니다.")

f.close()

print(f"기상관측을 시작한 이래 서울의 최고기온은 {max_temp}이고,날짜는 {max_date}입니다.")

endt=time.time()
print(endt-strt)

['지점명', '일시', '평균기온(℃)', '최저기온(℃)', '최고기온(℃)']

기상관측을 시작한 이래 서울의 최고기온은 39.6이고,날짜는 2018-08-01입니다.
0.31340885162353516

###pandas 모듈 이용하기

In [3]:
# 모듈 연결 및 파일 읽기
import pandas as pd
df=pd.read_csv("seoul_weather.csv",encoding="cp949")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41382 entries, 0 to 41381
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점명      41382 non-null  object
 1   일시       41382 non-null  object
 2   평균기온(℃)  40626 non-null  float64
 3   최저기온(℃)  40625 non-null  float64
 4   최고기온(℃)  40624 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.6+ MB

In [4]:
# 결측지(NaN) 처리 => 한행에 3개이상 존재하면 해당 행 삭제
print(df.isna().sum()) # 각 필드(열)별 NaN 갯수 확인(삭제전)

df=df.dropna(thresh=3)
print(df.isna().sum()) #삭제후

지점명          0
일시           0
평균기온(℃)    756
최저기온(℃)    757
최고기온(℃)    758
dtype: int64
지점명        0
일시         0
평균기온(℃)    0
최저기온(℃)    1
최고기온(℃)    2
dtype: int64

In [6]:
# NaN이 2개 이하인 데이터는 아래와 같이 바로 앞 또는 뒤 행의 값으로 채우기

# 결측값의 앞 행의 값으로 채우기 : df.fillna(method='ffill') *
# 결측값의 뒷 행의 값으로 채우기 : df.fillna(method='bfill')
# 각 열의 평균 값으로 채우기 : df.fillna(df.mean())

df=df.fillna(method="ffill")
print(df.isna().sum())

지점명        0
일시         0
평균기온(℃)    0
최저기온(℃)    0
최고기온(℃)    0
dtype: int64

In [8]:
df

      지점명          일시  평균기온(℃)  최저기온(℃)  최고기온(℃)
0      서울  1907-10-01     13.5      7.9     20.7
1      서울  1907-10-02     16.2      7.9     22.0
2      서울  1907-10-03     16.2     13.1     21.3
3      서울  1907-10-04     16.5     11.2     22.0
4      서울  1907-10-05     17.6     10.9     25.4
...    ..         ...      ...      ...      ...
41377  서울  2022-03-09      7.1      1.7     14.8
41378  서울  2022-03-10      9.3      4.2     15.8
41379  서울  2022-03-11     11.2      5.1     18.4
41380  서울  2022-03-12     12.8      6.3     19.5
41381  서울  2022-03-13     11.7     10.7     12.6

[40626 rows x 5 columns]

In [10]:
df1

               일시  최고기온(℃)
40051  2018-08-01     39.6

In [9]:
df1=df[df['최고기온(℃)'] == df['최고기온(℃)'].max()][["일시", "최고기온(℃)"]]
print(f"기상관측을 시작한 이래 서울의 최고 기온은 {df1.iloc[0, 1]}이고, 날짜는 {df1.iloc[0, 0]} 입니다.")

기상관측을 시작한 이래 서울의 최고 기온은 39.6이고, 날짜는 2018-08-01 입니다.

In [13]:
#전체 마무리

strt=time.time()

df = pd.read_csv("seoul_weather.csv", encoding="cp949")
df.info()

# 결측지(NaN) 처리 => 한행에 3개이상 존재하면 해당 행 삭제
print(df.isna().sum())   # 각 필드(열)별 NaN 갯수 확인(삭제전)

df=df.dropna(thresh=3)
print(df.isna().sum())   # 삭제후
df=df.fillna(method='ffill')
print(df.isna().sum())  

df1=df[df['최고기온(℃)'] == df['최고기온(℃)'].max()][["일시", "최고기온(℃)"]]
print(f"기상관측을 시작한 이래 서울의 최고 기온은 {df1.iloc[0, 1]}이고, 날짜는 {df1.iloc[0, 0]} 입니다.")

endt=time.time()
print(endt-strt)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41382 entries, 0 to 41381
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지점명      41382 non-null  object
 1   일시       41382 non-null  object
 2   평균기온(℃)  40626 non-null  float64
 3   최저기온(℃)  40625 non-null  float64
 4   최고기온(℃)  40624 non-null  float64
dtypes: float64(3), object(2)
memory usage: 1.6+ MB
지점명          0
일시           0
평균기온(℃)    756
최저기온(℃)    757
최고기온(℃)    758
dtype: int64
지점명        0
일시         0
평균기온(℃)    0
최저기온(℃)    1
최고기온(℃)    2
dtype: int64
지점명        0
일시         0
평균기온(℃)    0
최저기온(℃)    0
최고기온(℃)    0
dtype: int64
기상관측을 시작한 이래 서울의 최고 기온은 39.6이고, 날짜는 2018-08-01 입니다.
0.18912243843078613