<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/pandas_%ED%95%A8%EC%88%98_%EB%AA%A8%EB%93%88_%ED%81%B4%EB%9E%98%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def add(a,b):
  tot=a+b
  return tot


total = add(10,20)
print(total)

30

In [2]:
#immutable 객체: int,float,str,tuple
#Mutable 객체: list,dict

In [3]:
##함수 생성##

def f(i,mylist):
  i+=1
  mylist.append(0)

##########################
# 함수 활용을 위한 정의 및 호출 #
##########################

k=10
lst=[1,2,5]

f(k,lst) #f함수의 i에 k값, mylist에 lst값 적용
print(f"k={k}\nlst={lst}")

k=10
lst=[1, 2, 5, 0]

In [4]:
## 입력파라미터에 기본값 지정
def cal(a,b,c=1):
  return a*b*c

result=cal(3,4)
print(result)

12

In [5]:
# Named Parameter, 함수 호출시 "파라미터명 = 파라미터값"과 같이 정의

def report(age,name,score):
  print(f"이름:{name},나이:{age},점수:{score}")

report("서정동",50,85)
report(name="서정동",age=50,score=85)

이름:50,나이:서정동,점수:85
이름:서정동,나이:50,점수:85

In [6]:
#가변길이 파라미터(0~N개만큼 닫을 수 있음)
#파라미터명: *파라미터명

def total(*nums):
  tot=0
  for n in nums:
    tot+=n
  return tot

tot=total(1,2)
print(tot)

t=total(1,2,3,4,5,7,10,9)
print(t)

3
41