<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# pandas.Series([값])
ser=pd.Series([1, 3, 5, np.nan, 6, 9])
print(ser)
print(ser[:2])
print(type(ser))

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64
0    1.0
1    3.0
dtype: float64
<class 'pandas.core.series.Series'>

In [ ]:
# DataFrmae 생성
# pandas.date_range("시작일", periods=숫자) : 시작일부터 입력한 숫자만큼 날짜를 발생시키는 함수

date_lst=pd.date_range("20220301", periods=6)
print(date_lst)

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05', '2022-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
# numpy.random.randn(6,4)  # randn(행, 열) 행개수/열개수 정의
data=np.random.randn(6,4)
print(data)

[[-1.19431583 -1.58007295  0.2253855  -0.52546886]
 [ 1.7183458   1.38139744  0.10502688  0.59862617]
 [-0.28340327 -0.76622392 -1.05123531  1.77133413]
 [ 0.63108464 -0.51728952 -2.38312037 -0.30347979]
 [ 0.55611012  0.06680571  0.15898495 -1.11618777]
 [ 0.10128292 -0.35252871 -1.47697303  0.08046422]]

In [ ]:
### DataFrame 생성(배열(리스트))
df1=pd.DataFrame(data)
display(df1)

          0         1         2         3
0 -1.194316 -1.580073  0.225385 -0.525469
1  1.718346  1.381397  0.105027  0.598626
2 -0.283403 -0.766224 -1.051235  1.771334
3  0.631085 -0.517290 -2.383120 -0.303480
4  0.556110  0.066806  0.158985 -1.116188
5  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
df1=pd.DataFrame(data, columns=["A", "B", "C", "D"])
display(df1)

          A         B         C         D
0 -1.194316 -1.580073  0.225385 -0.525469
1  1.718346  1.381397  0.105027  0.598626
2 -0.283403 -0.766224 -1.051235  1.771334
3  0.631085 -0.517290 -2.383120 -0.303480
4  0.556110  0.066806  0.158985 -1.116188
5  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
df1=pd.DataFrame(data, columns=["A", "B", "C", "D"], index=date_lst)
display(df1)

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
df1.index     # df1에 정의된 index 속성값 출력

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05', '2022-03-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
## Pandas.DataFrame(딕셔너리)
dic1={'A':1.,
      "B":pd.Series(3, index=list(range(4)), dtype="float32"),
      "C":['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04'],
      "D":np.array([3]*4, dtype="int64"),
      "E":"python"}

dic1

{'A': 1.0, 'B': 0    3.0
 1    3.0
 2    3.0
 3    3.0
 dtype: float32, 'C': ['2022-03-01',
  '2022-03-02',
  '2022-03-03',
  '2022-03-04'], 'D': array([3, 3, 3, 3]), 'E': 'python'}

In [ ]:
df2=pd.DataFrame(dic1)
df2

     A    B           C  D       E
0  1.0  3.0  2022-03-01  3  python
1  1.0  3.0  2022-03-02  3  python
2  1.0  3.0  2022-03-03  3  python
3  1.0  3.0  2022-03-04  3  python

In [ ]:
df2.dtypes

A    float64
B    float32
C     object
D      int64
E     object
dtype: object

In [ ]:
df1

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
display(df1.head(2))
display(df1.tail(1))

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626

                   A         B         C         D
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
## DataFrame 기본속성
print(df1.index)   # index 출력
print(df1.columns) # 열 이름값 출력
print(df1.values)  # 입력 데이터 출력

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05', '2022-03-06'],
              dtype='datetime64[ns]', freq='D')
Index(['A', 'B', 'C', 'D'], dtype='object')
[[-1.19431583 -1.58007295  0.2253855  -0.52546886]
 [ 1.7183458   1.38139744  0.10502688  0.59862617]
 [-0.28340327 -0.76622392 -1.05123531  1.77133413]
 [ 0.63108464 -0.51728952 -2.38312037 -0.30347979]
 [ 0.55611012  0.06680571  0.15898495 -1.11618777]
 [ 0.10128292 -0.35252871 -1.47697303  0.08046422]]

In [ ]:
### 숫자 데이터에 대한 기술통계 확인: df.describe()
### 컬럼별 데이터 개수, 평균, 표준편차, 최소값, 4분위수(25%/50%/75%), 최대값
df1.describe()
# df2.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.254851 -0.294652 -0.736989  0.084215
std    0.978520  0.986651  1.076476  1.007372
min   -1.194316 -1.580073 -2.383120 -1.116188
25%   -0.187232 -0.703990 -1.370539 -0.469972
50%    0.328697 -0.434909 -0.473104 -0.111508
75%    0.612341 -0.038028  0.145495  0.469086
max    1.718346  1.381397  0.225385  1.771334

In [ ]:
df1.T

   2022-03-01  2022-03-02  2022-03-03  2022-03-04  2022-03-05  2022-03-06
A   -1.194316    1.718346   -0.283403    0.631085    0.556110    0.101283
B   -1.580073    1.381397   -0.766224   -0.517290    0.066806   -0.352529
C    0.225385    0.105027   -1.051235   -2.383120    0.158985   -1.476973
D   -0.525469    0.598626    1.771334   -0.303480   -1.116188    0.080464

In [ ]:
## 데이터에 대한 정렬(index값)
df1.sort_index(ascending=True)  # ascending=True(오름차순/생략시) / ascending=False(내림차순)
df1.sort_index(ascending=False)

                   A         B         C         D
2022-03-06  0.101283 -0.352529 -1.476973  0.080464
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469

In [ ]:
## 데이터에 대한 정렬(values값)
df1.sort_values(by="C", ascending=True)  # C열을 기준으로 오름차순 정렬(ascending=True 생략가능)
df1.sort_values(by="C", ascending=False)  # C열을 기준으로 내림차순 정렬

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-06  0.101283 -0.352529 -1.476973  0.080464
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480

In [ ]:
print(df1["A"])

2022-03-01   -1.194316
2022-03-02    1.718346
2022-03-03   -0.283403
2022-03-04    0.631085
2022-03-05    0.556110
2022-03-06    0.101283
Freq: D, Name: A, dtype: float64

In [ ]:
print(df1.A)

2022-03-01   -1.194316
2022-03-02    1.718346
2022-03-03   -0.283403
2022-03-04    0.631085
2022-03-05    0.556110
2022-03-06    0.101283
Freq: D, Name: A, dtype: float64

In [ ]:
print(type(df1.A))

<class 'pandas.core.series.Series'>

In [ ]:
df1[0:3]

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334

In [ ]:
df1["2022-03-02":"2022-03-04"]

                   A         B         C         D
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480

In [ ]:
# df1.loc[index값]
print(df1.loc["2022-03-01"])
print(df1.loc["20220301"])

A   -1.194316
B   -1.580073
C    0.225385
D   -0.525469
Name: 2022-03-01 00:00:00, dtype: float64
A   -1.194316
B   -1.580073
C    0.225385
D   -0.525469
Name: 2022-03-01 00:00:00, dtype: float64

In [ ]:
## loc[]에서 원하는 컬럼 지정
df1.loc[:, ["B","C"]]  # df1에서 B/C 열 데이터만 출력

                   B         C
2022-03-01 -1.580073  0.225385
2022-03-02  1.381397  0.105027
2022-03-03 -0.766224 -1.051235
2022-03-04 -0.517290 -2.383120
2022-03-05  0.066806  0.158985
2022-03-06 -0.352529 -1.476973

In [ ]:
df1.loc["2022-03-03":"2022-03-04", ["B","C"]]  # df1에서 B/C 열 데이터만 출력

                   B         C
2022-03-03 -0.766224 -1.051235
2022-03-04 -0.517290 -2.383120

In [ ]:
df1.iloc[0]

A   -1.194316
B   -1.580073
C    0.225385
D   -0.525469
Name: 2022-03-01 00:00:00, dtype: float64

In [ ]:
df1.iloc[2:4, 0:2]

                   A         B
2022-03-03 -0.283403 -0.766224
2022-03-04  0.631085 -0.517290

In [ ]:
df1.iloc[[1,3,5],[1,3]]

                   B         D
2022-03-02  1.381397  0.598626
2022-03-04 -0.517290 -0.303480
2022-03-06 -0.352529  0.080464

In [ ]:
# 주의: 연속범위, 떨어진 범위를 동시에 설정할 수 없다.
df1.iloc[[3,5],[0,2]]

                   A         C
2022-03-04  0.631085 -2.383120
2022-03-06  0.101283 -1.476973

In [ ]:
df1[df1.C >= 0]   # c열의 값이 0보다 큰 값

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-05  0.556110  0.066806  0.158985 -1.116188

In [ ]:
# 다중 조건에 대한 AND(&) 연산
df1[(df1.B > 0) & (df1["C"] > 0)]   # b열과 c열의 값이 모두 0보다 크 값 출력

                   A         B         C         D
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-05  0.556110  0.066806  0.158985 -1.116188

In [ ]:
### df1의 데이터 개수
len(df1) # df1의 행의 개수 의미

6

In [ ]:
# df1을 df2로 복사
# df2에 새로운 필드(열) 추가

df2 = df1.copy()
df3 = df1

display(df2)
display(df3)

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

In [ ]:
df2["E"]=["aa", "bb", "aa", "cc", "bb", "ff"]
display(df1)
display(df2)

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

                   A         B         C         D   E
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469  aa
2022-03-02  1.718346  1.381397  0.105027  0.598626  bb
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334  aa
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-05  0.556110  0.066806  0.158985 -1.116188  bb
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

In [ ]:
df3["E"]=["aa", "bb", "aa", "cc", "bb", "ff"]
display(df1)
display(df3)

                   A         B         C         D   E
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469  aa
2022-03-02  1.718346  1.381397  0.105027  0.598626  bb
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334  aa
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-05  0.556110  0.066806  0.158985 -1.116188  bb
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

                   A         B         C         D   E
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469  aa
2022-03-02  1.718346  1.381397  0.105027  0.598626  bb
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334  aa
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-05  0.556110  0.066806  0.158985 -1.116188  bb
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

In [ ]:
del df1["E"]   # del 객체 삭제

display(df1)
display(df3)
display(df2)

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

                   A         B         C         D
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469
2022-03-02  1.718346  1.381397  0.105027  0.598626
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480
2022-03-05  0.556110  0.066806  0.158985 -1.116188
2022-03-06  0.101283 -0.352529 -1.476973  0.080464

                   A         B         C         D   E
2022-03-01 -1.194316 -1.580073  0.225385 -0.525469  aa
2022-03-02  1.718346  1.381397  0.105027  0.598626  bb
2022-03-03 -0.283403 -0.766224 -1.051235  1.771334  aa
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-05  0.556110  0.066806  0.158985 -1.116188  bb
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

In [ ]:
df2[df2["E"].isin(["cc", "ff"])] # E열에 "cc", "ff"가 있는 값 모두 출력

                   A         B         C         D   E
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

In [ ]:
df2[df2["E"].isin(["cc", "ff"])][["C", "D"]]

                   C         D
2022-03-04 -2.383120 -0.303480
2022-03-06 -1.476973  0.080464

In [ ]:
df2.loc[df2["E"] == "aa", ["C", "D"]]

                   C         D
2022-03-01  0.225385 -0.525469
2022-03-03 -1.051235  1.771334

In [ ]:
df2.loc[(df2["E"] == "aa") | (df2["E"] == "bb"), ["C", "D"]]

                   C         D
2022-03-01  0.225385 -0.525469
2022-03-02  0.105027  0.598626
2022-03-03 -1.051235  1.771334
2022-03-05  0.158985 -1.116188

In [ ]:
# 데이터 수정
df2.loc[(df2["E"] == "aa"), "C"] = 0
df2

                   A         B         C         D   E
2022-03-01 -1.194316 -1.580073  0.000000 -0.525469  aa
2022-03-02  1.718346  1.381397  0.105027  0.598626  bb
2022-03-03 -0.283403 -0.766224  0.000000  1.771334  aa
2022-03-04  0.631085 -0.517290 -2.383120 -0.303480  cc
2022-03-05  0.556110  0.066806  0.158985 -1.116188  bb
2022-03-06  0.101283 -0.352529 -1.476973  0.080464  ff

In [ ]:
pwd!

'/content'

In [ ]:
!ls

'지역_위치별(주유소) (10).csv'	'지역_위치별(주유소) (6).csv'
'지역_위치별(주유소) (1).csv'	'지역_위치별(주유소) (7).csv'
'지역_위치별(주유소) (2).csv'	'지역_위치별(주유소) (8).csv'
'지역_위치별(주유소) (3).csv'	'지역_위치별(주유소) (9).csv'
'지역_위치별(주유소) (4).csv'	'지역_위치별(주유소).csv'
'지역_위치별(주유소) (5).csv'	 sample_data

In [ ]:
pwd!

'/content'

In [ ]:
!ls

'지역_위치별(주유소) (10).csv'	'지역_위치별(주유소) (6).csv'
'지역_위치별(주유소) (1).csv'	'지역_위치별(주유소) (7).csv'
'지역_위치별(주유소) (2).csv'	'지역_위치별(주유소) (8).csv'
'지역_위치별(주유소) (3).csv'	'지역_위치별(주유소) (9).csv'
'지역_위치별(주유소) (4).csv'	'지역_위치별(주유소).csv'
'지역_위치별(주유소) (5).csv'	 sample_data